<?php // -*-php-*- ?>
<?= Template("default/info") ?>

<div align="center">
    <p>
    <?= Button("viewsource", _("View Source")) ?>
    <?=$SEP?><?= Button("PageHistory", _("PageHistory")) ?>
    <?=$SEP?><?= Button("Diff") ?>
    <?=$SEP?><?= Button(array('action'=>'diff','previous' => 'minor'),_("Diff previous Revision"),$page->getName()) ?>
    <?=$SEP?><?= Button(array('action'=>'diff','previous' => 'author'),_("Diff previous Author"),$page->getName()) ?>
    <?=$SEP?><?= Button("PageDump", _("PageDump")) ?>
  <?php if ((defined('DEBUG') && DEBUG) || $user->isAdmin()) { ?>
    <!-- Buttons really only for debugging -->
    <?=$SEP?><?= Button("DebugInfo", _("DebugInfo")) ?>
<?php
    $PurgeCache = Button(array('nocache' => 'purge'),
                     _("PurgeHtmlCache"), $page->getName());
    $PurgeCache->addTooltip(_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed."));
?>
    <?=$SEP?><?= $PurgeCache ?>
    </p>
    <!-- End debugging buttons -->
  <?php } ?>
</div>
