/*@charset "iso-8859-1";*/
/**
 * $Id: MacOSX-topbottombars.css 6204 2008-08-26 15:12:03Z vargenau $
 *
 */
@import url("MacOSX.css");


/**
 * General settings
 */
body {
  /* Odd large top padding is needed for Mozilla */
  padding-top: 16ex;
  padding-bottom: 9ex;
}


/**
 * Common toolbar settings
 * Note that div.toolbar is used for other toolbars besides
 * #navbar and #actionbar, such as in editpage and removepage
 */
div#header, div#footer {
  background: white url("images/bgpaper8.png");
  margin: 0px;
  padding: 0px;
  position: fixed;
  left:  0px;
  right: 0px;
  padding-top:    0.5ex;
  padding-bottom: 0.5ex;
  padding-left:  1em;
  padding-right: 1em;
}
hr.toolbar {
  display: none;
}


/**
 * Navbar
 */
div#header {
  top: 0px;
  border-bottom: 1px solid #b2b2b2;
}
div#navbuttons {
  padding-bottom: 0.25ex;
}


/**
 * Actionbar
 */
div#footer {
  border-top: 1px solid #b2b2b2;
  /* kludge for Mozilla */
  bottom: -1ex;
  padding-bottom: 0ex;
}
div#actionbuttons {
  /* For IE5.1Mac, workaround the Mozilla kludge */
  padding-bottom: 1ex;
  padding-top:    0.25ex;
}
p.editdate {
  margin-top: 0.75ex;
  margin-bottom: 0.5ex;
}

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
