/*
 * Copyright (C) 2008 Alcatel-Lucent
 *
 * This file is part of PhpWiki.
 *
 * PhpWiki is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * PhpWiki is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PhpWiki; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

/*
 * Standard Alcatel-Lucent disclaimer for contributing to open source
 *
 * "The Style Sheet ("Contribution") has not been tested and/or
 * validated for release as or in products, combinations with products or
 * other commercial use. Any use of the Contribution is entirely made at
 * the user's own responsibility and the user can not rely on any features,
 * functionalities or performances Alcatel-Lucent has attributed to the
 * Contribution.
 *
 * THE CONTRIBUTION BY ALCATEL-LUCENT IS PROVIDED AS IS, WITHOUT WARRANTY
 * OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, COMPLIANCE,
 * NON-INTERFERENCE AND/OR INTERWORKING WITH THE SOFTWARE TO WHICH THE
 * CONTRIBUTION HAS BEEN MADE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL
 * ALCATEL-LUCENT BE LIABLE FOR ANY DAMAGES OR OTHER LIABLITY, WHETHER IN
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 * CONTRIBUTION OR THE USE OR OTHER DEALINGS IN THE CONTRIBUTION, WHETHER
 * TOGETHER WITH THE SOFTWARE TO WHICH THE CONTRIBUTION RELATES OR ON A STAND
 * ALONE BASIS."
 */

/* Do not display the top bar, the horizontal navigation bar and the left bar */
#topbar { display: none; }
#horiznavbar { display: none; }
#leftnav { display: none; }

/* Do not display the wiki navigation and edition bars */
.toolpalettes { display: none; }

/**
 * Table of content
 */
div.toc {
    border: 1px solid black;
    padding: 5px;
}
div.toc ul { list-style: none; }

/*
 * "E-mail" style blockquote
 */
blockquote.mail-style-quote {
    margin: 0em;
    margin-bottom: 1em;
    border: 1px solid #284;
    padding: 0.5em;
}

.mail-style-quote blockquote.mail-style-quote {
    margin-left: 0.3em;
    margin-bottom : 0em;
    border-style: none;
    border-left: medium solid #284;
    padding: 0em;
    padding-left: 0.5em;
}

div.wikitext pre {
    font-family: monospace;
    border-width: 1px;
    border-style: dashed;
    padding: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: .5em;
    padding-bottom: .17em;
    border-bottom: 1px solid black;
}

#content {
    background: white;
}
