/*   
  Kubrick v1.2.5  for PhpWiki, by Rui Carmo - http://the.taoofmac.com
  Based on Michael Heilemann's excellent work for WordPress 1.2
  http://binarybonsai.com/kubrick/
  
  This is a work in progress - some of the original CSS may need collapsing
*/

/* @import url("../default/phpwiki.css"); */

body {
  margin: 20px auto;
  padding: 0; 
  font-size: 75%; /* Resets 1em to 10px */
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  background-color: #d5d6d7;
  color: #333;
  background: url("images/kubrickbgcolor.png"); 
}

#header {
  top: 0px;
  background-color: #73a0c5;
  background: url("images/header.png") no-repeat top center;
  padding: 0;
  margin: 0 auto;
  height: 200px;
  width: 100%;
}

#flashheader, #yoursiteheader {
  padding-top: 19px;
  margin-left: 19px;
  width: 722px;
  height: 182px;
  background-color: transparent;
  font: bolder 67px/50px  Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: -0.1em;
  /*font-variant: condensed;*/ 
}

#yoursiteheader a:hover, #yoursiteheader a:link, #yoursiteheader a:visited {
  text-decoration: none;
  color: black;
}

#actionbar, #editbar {
  background: url("images/actionbarbg.png") no-repeat top center;
  width: 760px;
  /*height: 40px;*/
}

/* http://www.aboutus.org/UniversalWikiEditButton */
div.actionbuttons a#btn-edit {
  background:  url('images/Edit-chalk-10bo12.png') bottom left no-repeat;
  background-repeat: no-repeat;
  padding-left: 13px !important;
}

#LSResult {
  position: absolute;
  text-align: left;
  display: none;
  z-index: 100;
  background-color: white;
  border: 1px solid #d0d0d0; 
  font-size: 9px;
  overflow: hidden;
}

#LSHighlight {
  background-color: #f08000;
}

#LSResult .evenrow {
  background-color: #f0f0f0;
} 

#LSREsult .oddrow {
} 

.LSEnd {
  text-align: right;
}
.LSRow:hover {
  background-color: white;
}
.LSRow {
  padding: 1px;
} 
ul.LSRes {
  margin: 0px;
  padding: 0px;
}
li.LSRow {
  margin: 0px;
  list-style-image: none;
}

#sitemeter {
  float: right;
}

#actionbuttons, .actionbuttons  {
  float: left;
  height: 20px;
  margin-top: 12px;
  padding-left: 30px;
  vertical-align: middle;
}

#editbar p {
  height: 20px;
  padding-top: 8px;
  margin-left: 30px;
  vertical-align: middle;
}

#editarea-size {
  font-size: 9px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 10px;
}
#editarea-size input {
  font-size: 9px;
}
 
#actionbuttons a {
  padding-right: 0px;
  font-size: 11px; /* we need pixel units here to match the background */
}

#pagetrail {
  margin-left: 19px; 
  width: 540px;
}

#pagetrail p {
  font-size: 9px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

#page {
  background-color: white;
  background: url("images/kubrickbg.png"); 
  margin: 20px auto;
  padding: 0;
  width: 760px;
}

#content {
 font-size: 1.2em
}

#pagetitle, #pagetitle a {
  color: black;
  padding-left: 20px;
  margin-top: 12px;
  margin-bottom: 4px;
  width: 550px;
}

.indexLetterHeading {
  margin-top: 8px;
  padding: 4px;
  background-color: #f0f0f0;
}

div.wikitext {
  /*margin-left: 25px;*/
  margin-top: 12px;
}

pre {
  overflow: hidden;
  padding: 2px;
  background-color: #f0f0f0;
}

#seealso table, .transclusion-title {
  font-size: 0.81em;
}

.transclusion-title {
  margin: 0px;
  
}

.transclusion {
  margin-bottom: 8px;
}

div.comments {
  margin-top: 0px;
  text-align: right;
  font-size: 0.81em;
}

#bottom {
  font-size: 0.81em;
  border: none;
  width: 720px;
  clear: both;
  margin: 0 20px 0 20px;
  /*text-align: center;*/
}
#footer {
  font-size: 0.81em;
  background-color: #eee;
  background: url("images/kubrickfooter.png") no-repeat bottom center;
  border: none;
  width: 760px;
  height: 60px;
  clear: both;
  text-align: center;
}

#footer p, #bottom p {
  margin: 0;
  padding: 0;
/*  padding: 20px 0; */
}

.widecolumn .entry p {
  font-size: 1.05em;
  }

.narrowcolumn .entry, .widecolumn .entry {
  line-height: 1.4em;
  }

.widecolumn {
  line-height: 1.6em;
}
  
.narrowcolumn .postmetadata {
  text-align: center;
  }

.graybox {
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
}

tt {
  font-family: 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
  font-size: 1.05em;
}

pre {
  width: 486px;
  font-size: 10px;
  font-family: 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  text-align: center;
}

.description {
  font-size: 1.2em;
  text-align: center;
  }

h2 {
  font-size: 1.6em;
  margin-top: 2px;
  text-align: left;
}

#sidebar h2, #sidebar .box-title {
  font-family: 'Lucida Grande', Verdana, sans-serif;
  font-size: 1.2em;
}

h3 {
  font-size: 1.3em;
}

h1, h1 a, h1 a:hover, h1 a:visited, .description {
  text-decoration: none;
  /*color: white;*/
  color: black;
}

h2, h2 a, h2 a:visited, .box-title a:visited, h3, h3 a, h3 a:visited {
  color: #333;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
  text-decoration: none;
}

table.pagelist, table.referrerlist {
  width: 100%;
}

table.referrerlist td {
  font-size: 0.71em;
}

table.pagelist td {
  font-size: 0.81em;
}

tr.evenrow {
  background-color: #f0f0f0;
}

.entry p a:visited {
  color: #b85b5a;
}
/* ie quirks */
#sidebar {
  font: 1em 'Lucida Grande', Verdana, Arial, sans-serif;
  left:585px;
  position:absolute;
  z-index: 2;
  top: 260px;
  /* top, right, bottom, left */
  padding: 0 10px 10px 0;
  width: 155px;
  border: none;
  overflow: visible;
  color: black;
}
#moz-sidebar {
  font: 1em 'Lucida Grande', Verdana, Arial, sans-serif;
  margin-left: 560px;
  position:absolute;
  z-index: 2;
  top: 270px;
  /* top, right, bottom, left */
  padding: 0 10px 10px 0;
  width: 155px;
  background: white;
}

#sidebar form {
  margin: 0;
}

#notification {
  margin-left: 20px;
  background: #ffe0e0;
}

#revisionbox dl, #cachebox dl {
  width: 200px;
  margin: 0px;
  background: #ffe0e0 url("images/bottom_sidebar_round.png") no-repeat bottom left;
}
#revisionbox dd, #cachebox dd {
  padding-bottom: 10px;
}
#revisionbox dt, #cachebox dt {
  margin: 0px;
  padding: 5px;
  background: #ffe0e0 url("images/top_sidebar_round.png") no-repeat top left;
}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
  color: #777;
  }
  
code {
  font: 1.1em 'Courier New', Courier, monospace;
}

acronym, abbr, span.caps
{
  font-size: 0.9em;
  letter-spacing: .07em;
  }

a, h2 a:hover, h3 a:hover {
  color: #06c;
  text-decoration: none;
  }

a:hover {
  color: #147;
  text-decoration: underline;
}

a.namedurl {
  padding-right: 6px;
  margin-right: 0px;
  background: url("images/http.png") right top no-repeat;
} 
/* https links */
a.namedurl[href*="https"] {
  padding-right: 6px;
  margin-right: 0px;
  background: url("images/https.png") right top no-repeat;
}
/* local links (override above) */
/*
a.namedurl[href*="the.taoofmac.com"] {
  padding-right: 0px;
  background: none;
} 
*/
/* interwiki */
a.named-interwiki {
  padding-right: 6px;
  margin-right: 0px;
  background: url("images/interwiki.png") right top no-repeat;
} 

#xhtml-validator { 
  padding-bottom: 0;
  vertical-align: middle;
}

#searchholder {
  float: right;
  /*height: 30px;*/
  vertical-align: middle;
  margin-top: 10px;
  margin-right: 30px;
}

#livesearch {
  /*height: 16px;*/
  width: 150px;
  font-size:0.8em;
}

#bodyContent {
  float: left;
  padding: 0 0 20px 25px;
  margin: 0px 0 0;
  width: 550px;
  overflow: visible;
  /* how to define minimal height? */
  min-height: 490px;
}
.narrowcolumn, .wikiblog {
  width: 550px !important;
  /*max-width: 550px;*/
}

#editpage, #edit-content, .wiki-edithelp {
  /* top, right, bottom, left */
  padding: 0 0 20px 0;
  /*margin: 0px 0 0;*/
  width: 710px;
  overflow: visible;
}
.wiki-edithelp { 
  font-size: 0.81em; 
}
#wikiblog-form div.wiki-edithelp { 
  width: 550px;
  font-size:8pt;
}

.widecolumn {
  padding: 10px 0 20px 0;
  margin: 5px auto;
  width: 450px;
}
  
.post {
  margin: 0 0 40px;
  text-align: justify;
}

.widecolumn .post {
  margin: 0;
}

.narrowcolumn .postmetadata {
  padding-top: 5px;
}

.widecolumn .postmetadata {
  margin: 30px 0;
}
  

/*  Begin Headers */
h1 {
  margin: 0;
}

.description {
  text-align: center;
  }

/* Black Links */
div.box-title, div.box-title a, div.box-title a:visited, div.box-title a:link {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
div.box-data, div.box-data a, div.box-data a:visited, div.box-data a:link {
  font-size:8pt; 
}

#sidebar h2, #sidebar .box-title {
  margin: 5px 0 0 0;
  padding: 0;
  color: black;
  text-decoration: none;
  }

h3 {
  padding: 0;
  margin: 30px 0 0;
  }

h3.comments {
  padding: 0;
  margin: 40px auto 20px ;
  }
/* End Headers */



/* Begin Images */
p img {
  padding: 0;
  max-width: 100%;
  }

/*  Using 'class="alignright"' on an image will (who would've
  thought?!) align the image to the right. And using 'class="centered',
  will of course center the image. This is much better than using
  align="center", being much more futureproof (and valid) */
  
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
  }

img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
  }

.alignright {
  float: right;
  }
  
.alignleft {
  float: left
  }
/* End Images */



/* Begin Lists

  Special stylized non-IE bullets
  Do not work in Internet Explorer, which merely default to normal bullets. */

html>body ul {
  margin-left: 0px;
  padding: 0 0 0 30px;
  list-style: none;
  padding-left: 10px;
  text-indent: -10px;
  } 

html>body li {
  margin: 0 0 0 10px;
  }

.narrowcolumn ul li:before, #sidebar ul ul li:before {
  content: "\00BB \0020";
}

.entry ol {
  padding: 0 0 0 35px;
  margin: 0;
}

.entry ol li {
  margin: 0;
  padding: 0;
}

.postmetadata ul, .postmetadata li {
  display: inline;
  list-style-type: none;
  list-style-image: none;
}
  
#sidebar ul, #sidebar ul ol {
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  list-style-type: none;
  list-style-image: none;
  margin-bottom: 15px;
}

#sidebar ul p, #sidebar ul select {
  margin: 5px 0 8px;
}

#sidebar ul ul, #sidebar ul ol {
  margin: 5px 0 0 10px;
  }

#sidebar ul ul ul, #sidebar ul ol {
  margin: 0 0 0 10px;
  }

ol li, #sidebar ul ol li {
  list-style: decimal outside;
  }

#sidebar ul ul li, #sidebar ul ol li {
  margin: 3px 0 0;
  padding: 0;
  }
/* End Entry Lists */

/* Begin Form Elements */
#searchform {
  text-align: right;
  display: inline;
}
#wikiblog-summary { 
  font-weight: bold;
}
/* End Form Elements */

/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
  cursor: help;
}

acronym, abbr {
  border-bottom: 1px dashed #999;
  }

blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
  }

blockquote cite {
  margin: 5px 0 0;
  display: block;
  }

.center {
  text-align: center;
  }

hr {
  display: none;
  }

a img {
  border: none;
  }

.navigation {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}
/* End Various Tags & Classes*/


/**
 * Diff Output
 */
/* main box */
.diff {
  margin-top:    1ex;
  margin-bottom: 0.5ex;
  background: white;
  /* Netscape 4 requires this 1px border.
     Without it, the paper borders below cause
     the white background to disappear. */
  border: 1px #ccc solid;
  color: black;
  border-top: 1px solid #494f5d;
  border-left:  1px solid #494f5d;
  border-bottom:  1px solid #c6d2de;
  border-right: 1px solid #c6d2de;
  padding-top:    1px;
  padding-bottom: 1px;
  padding-left:  .125em;
  padding-right: .125em;
  padding: 0;
  /* "paper" borders */
  /*border-top: 2px #d2d2d2 solid;
  border-left:  2px #b2b2b2 solid;
  border-bottom:  2px #e8e6df solid;
  border-right: 2px #e8e6df solid;*/
/*  padding-left:  0em; 
  padding-bottom: 0ex;*/
/*  border-style: inset;*/
  /*This breaks Netscape 4: (display does not go full width).
   * width: auto;
   */
  /* I'm not sure what the intent of this was, but it's
   *  not valid CSS: */
  /* display: editarea; */
  clear: both;
}
.diff .block {
  background: #ddd;
  padding-left: 1em;
  /* for NS4 */
  /*border: none;*/
}

/* individual blocks */
.diff .context {
  background: white;
  /* for NS4 */
  border: none;
}
/* entire difftextblock */
#difftext {
  width: 710px;
  margin-top:    0;
  margin-bottom: 0;
  background: white;
  /* Netscape 4 requires this 1px border.
     Without it, the paper borders below cause
     the white background to disappear. */
  border: 1px black solid;
  /* "paper" borders */
  border-top:  1px #e8e6df solid;
  border-left: 1px #e8e6df solid;
  border-bottom: 1px #d2d2d2 solid;
  border-right:  1px #b2b2b2 solid;
  padding-left:  0em; 
  padding-right: 0em;
  padding-top:    0ex;
  padding-bottom: 0ex;
  /*This breaks Netscape 4: (display does not go full width).
   * width: auto;
   */
  clear: both;
}
/* + - line prefix */
.diff .block tt {
  font-weight: normal;
  font-family: monospace;
  color: black;
  /* for NS4 */
  margin-left: 0;
  border: none;
}
/* changed words */
.diff del, .diff ins {
  font-weight: bold;
  text-decoration: none;
}

/* blocks containing deleted or added words */
.diff .original, .diff .deleted,
.diff .final, .diff .added {
  background: white;
}
/* blocks containing deleted words */
.diff .original, .diff .deleted {
  background: #fcc;
  /* for NS4 */
  border: none;
}
/* blocks containing added words */
.diff .final, .diff .added {
  background: #cfc;
  /* for NS4 */
  border: none;
}

/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
/* deleted words */
.diff del { background: #f99; }
/* added words */
.diff ins { background: #9f9; }


/**
 * PageHistory, Info
 */
td.pageinfo { font-weight: bold; }
.pageinfo-minoredit, .pageinfo-authorid {
  font-size: smaller;
  font-style: oblique;
}

#VisualWikiPlugin img {
  width: 520px;
  margin-left: 0;
  padding: 0;
}

/* plugin BoxRight */
div.boxright {
  width: 200px; 
  right: 10px;
  padding: 0.5em; 
  float: right; 
  border: thin solid #888888; 
  padding: 0.5em;
}

/* RssFeed */
div.rss { margin: 1em; padding: 1em; font-size: 0.9em; background-color: #eeeeee; border: thin dashed #aaa; }
div.feed { color: #333; margin: -0.5em; margin-bottom: 0em; padding: 0.3em; font-weight: bold; background-color: #f2f2f2; font-size: 1.2em; }
div.itemdesc {  padding-left: 1em; }
div.rssitem { border-top: thin dashed #aaa; }

/* SqlResult */
table.sqlresult { 
  border: 1px outset gray;
  background: white;
  margin: 0.5ex 0.5em;
  padding: 1px;
}
.sqlresult tr.evenrow { background: #eee; }
.sqlresult tr.oddrow  { background: white; }
table.sqlresult td {
  margin: 1px;
  border: 1px solid gray;
}

/**
 * TeX2png plugin
 */
img.tex { 
  border: 0ex;
  vertical-align: middle; 
}

/**
 * PhotoAlbum plugin
 */
.boldsmall {
  font-weight: bold;
  font-size: 11px;
}
/* postnuke css:*/
.gensmall{font-size:9px}
.genmed{font-size:11px}

.wikiwyg_toolbar {
    background: #D3D3D3;
    border: 1px outset;
    letter-spacing: 0;
    padding: 2px;
}

span.wikiwyg_control_link a {
    padding-right: 8px;
}

.wikiwyg_button {
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_button:hover {
    border: 1px outset;
}

.wikiwyg_button:active {
    border: 1px inset;
}

.wikiwyg_separator {
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    width: 9px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_selector {
    width: 70px;
}

.wikiwyg_wysiwyg table {
    border-collapse: collapse;
    margin-bottom: .2em;
}

.wikiwyg_wysiwyg table td {
    border: 1px;
    border-style: solid;
    padding: .2em;
    vertical-align: top;
}

/*
 * table class="boxed"
 * will put a border around the table (but not around the cells)
 *
 * table class="bordered"
 * will put a border around the table and the cells
 *
 * In both cases, the caption will be bold and centered under the table
 *
 * In both cases, the headers (th) will have a "#d8d8d8" background
 */

table.boxed, table.bordered, table.bordered th, table.bordered td {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    vertical-align: top;
}

table.boxed td, table.bordered td,
table.boxed th, table.bordered th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

table.boxed caption, table.bordered caption {
    text-align: center;
    font-weight: bold;
    caption-side: bottom;
    padding-top: 0.8em;
}

table.boxed th, table.bordered th {
    font-weight: bold;
    background-color: #d8d8d8;
}
