/**
 *  $Id: main.css 6464 2009-01-30 18:07:40Z vargenau $
 */ 

/*
** MediaWiki 'monobook' style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke - http://wikidev.net/
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on http://www.positioniseverything.net/ordered-floats.html by Big John
** and the Plone 2.0 styles, see http://plone.org/ (Alexander Limi, Joe Geldart & Tom Croucher,
** Michael Zeltner and Geir Bækholt)
** All you guys rock :)
** Added phpwiki integration: Reini Urban, based on the phpwiki.css 
** by Jeff Dairiki
*/

#column-content {
	width: 100%;
	float: right;
	margin: 0 0 .6em -12.2em;
	padding: 0;
	height: 1%;
}
#content {
	position: relative;
	z-index: 2;
	margin: 2.8em 0 0 12.2em;
	padding: 0 1em 1.5em 1em;
	background: white;
	color: black;
	border: 1px solid #aaa;
	border-right: none;
	line-height: 1.5em;
}
#column-one {
	position: absolute;
	/*z-index: 3;*/
	padding-top: 160px;
	top: 0;
	left: 0;
}
/* the left column width is specified in class .portlet */

/* Font size:
** We take advantage of keyword scaling- browsers won't go below 9px
** More at http://www.w3.org/2003/07/30-font-size
** http://style.cleverchimp.com/font_size_intervals/altintervals.html
*/

body {
	font: small sans-serif;
	background: #f9f9f9 url("images/headbg.jpg") 0 0 no-repeat;
	color: black;
	margin: 0;
	padding: 0;
}

/* scale back up to a sane default */
#globalWrapper {
	font-size: 127%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.visualClear {
	clear: both;
}

/* general styles */

table {
  	font-size: 100%;
	color: black;
}
a {
	text-decoration: none;
	color: #002bb8;
	background: none;
}
a:visited {
	color: #5a3696;
}
a:active {
	color: #faa700;
}
a:hover {
	text-decoration: underline;
}
a.stub {
	color: #772233;
}
a.new, #p-personal a.new {
	color: #ba0000;
}
a.new:visited, #p-personal a.new:visited {
	color: #a55858;
}

img {
	border: none;
	vertical-align: middle;
}
p {
	margin: .4em 0 .5em 0;
	line-height: 1.5em;
}
p img {
	margin: 0;
}

hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background: none;
	font-weight: bold;
	font-family: Tahoma, sans-serif;
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.17em;
	border-bottom: 1px solid #aaa;
}
h1 { font-size: 188%; }
h2 { font-size: 150%; }
h3 { font-size: 132%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }
h4, h5, h6 { 
	border-bottom: none;
	font-weight: normal;
}
ul { 
	line-height: 1.5em;
	list-style-type: square;
	margin: 0.3em 0 0 1.5em;
	padding:0;
	list-style-image: url("images/bullet.png");
}
ol {
	line-height: 1.5em;
	margin: 0.3em 0 0 3.2em;
	padding:0;
	list-style-image: none;
}
li {	margin-bottom: 0.1em; }
dt { 
  	font-weight: bold; 
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: .1em;
}

fieldset {
	border: 1px solid #2f6fab;
	margin: 1em 0 1em 0;
	padding: 0 1em 1em 1em;
	line-height: 1.5em;
}
legend {
	/*background: white;*/
	padding: 0.5em;
	font-size: 95%;
}
form {
	border: none;
	margin: 0;
}

textarea {
	width: 100%;
	padding: .1em;
}

input.historysubmit {
	padding: 0 0.3em 0.3em 0.3em !important;
	font-size: 94%;
	cursor: pointer;
	height: 1.7em !important;
	margin-left: 1.6em;
}
select {
	vertical-align: top;
}
abbr, acronym, .explain {
	border-bottom: 1px dotted black;
	color: black;
	background: none;
	cursor: help;
}
q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}
/* disabled for now
blockquote {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}*/
code {
	background-color: #f9f9f9;
}
pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}

/*
** the main content area
*/

#siteSub { display: none; }
#jump-to-nav {
	display: none;
}
#contentSub {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #7d7d7d;
	width: auto;
}
span.subpages { display: block; }

/* Some space under the headers in the content area */
#bodyContent h1, #bodyContent h2 {
	margin-bottom: .6em;
}
#bodyContent h3, #bodyContent h4, #bodyContent h5 {
	margin-bottom: .3em;
}
.firstHeading { margin-bottom:0.1em; }

/* user notification thing */
.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}
#siteNotice {
	text-align: center;
	font-size: 95%;
	padding: 0 .9em;
}
#siteNotice p {
	margin: 0;
	padding: 0;
}
.error {
	color: red;
	font-size: larger;
}
.errorbox, .successbox {
	font-size: larger;
	border: 2px solid;
	padding: .5em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
	border-color: red;
	background-color: #fff2f2;
}
.successbox {
	border-color: green;
	background-color: #dfd;
}
.errorbox h2, .successbox h2 {
	font-size: 1em;
	font-weight: bold;
	display: inline;
	margin: 0 .5em 0 0;
	border: none;
}

#catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	margin-top: 1em;
	clear: both;
}
/* currently unused, intended to be used by a metadata box
in the bottom-right corner of the content area */
.documentDescription {
	/* The summary text describing the document */
	font-weight: bold;
	display: block;
	margin: 1em 0;
	line-height: 1.5em;
}
.documentByLine {
	text-align: right;
	font-size: 90%;
	clear: both;
	font-weight: normal;
	color: #76797c;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
/* small for tables and similar */
.small, .small * {
	font-size: 94%;
}
table.small {
	font-size: 100%;
}

/*
** content styles
*/
#toc,
.toc {
  	width: 200px;
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
  	float: right;
  	clear: right;
}
#toc #toctitle,
.toc #toctitle {
	display: inline;
	border: none;
	padding: 0;
	font-size: 110%;
	font-weight: bold;
}
.toc #toclist {
	width: auto;
	border: none;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}
#toc p, 
.toc p { 
        margin: 0;
}
#toc ul,
.toc ul {
	width: auto;
	border: none;
	line-height: 1.5em;
	list-style-type: square;
	list-style-image: url("images/bullet.png");
	font-size: 95%;
	margin-left: 5px;
	padding-left: 5px;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

/* images */
div.floatright, table.floatright {
	clear: right;
	float: right;
	position: relative;
	margin: 0 0 .5em .5em;
	border: 0;
/*
	border: .5em solid white;
	border-width: .5em 0 .8em 1.4em;
*/
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
	float: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
/*
	margin: .3em .5em .5em 0;
	border: .5em solid white;
	border-width: .5em 1.4em .8em 0;
*/
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
}
div.thumb div {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
div.thumb div a img {
	border: 1px solid #ccc;
}
div.thumb div div.thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: .3em 0 .1em 0;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}
div.tleft {
	float: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}

.hiddenStructure {
	display: none;
	speak: none;
}
img.tex {
	vertical-align: middle;
}
span.texhtml {
	font-family: serif;
}

/*
** classes for special content elements like town boxes
** intended to be referenced directly from the wiki src
*/

/*
** User styles
*/
/* table standards */
table.rimage {
	float: right;
	position: relative;
	margin-left: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.toccolours {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
div.townBox {
	position: relative;
	float: right;
	background: white;
	margin-left: 1em;
	border: 1px solid gray;
	padding: .3em;
	width: 200px;
	overflow: hidden;
	clear: right;
}
div.townBox dl {
	padding: 0;
	margin: 0 0 .3em;
	font-size: 96%;
}
div.townBox dl dt {
	background: none;
	margin: .4em 0 0;
}
div.townBox dl dd {
	margin: .1em 0 0 1.1em;
	background-color: #f3f3f3;
}

/*
** edit views etc
*/
.special li {
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

/*
** RecentChanges
*/
.pageinfo-majoredit { 
	font-weight: normal; /*bold;*/
}
.wiki-summary {
		font-size: 94%;
		font-style: italic;
}

/* Page history styling */
/* the auto-generated edit comments */
.autocomment {
	color: gray;
}
#pagehistory span.user {
	margin-left: 1.4em;
	margin-right: .4em;
}
#pagehistory span.minor {
	font-weight: bold;
}
#pagehistory li {
	border: 1px solid white;
}
#pagehistory li.selected {
	background-color: #f9f9f9;
	border: 1px dashed #aaa;
}

/*
** Diff rendering (unused)
*/
table.diff, td.diff-otitle, td.diff-ntitle {
	background-color: white;
}
td.diff-addedline {
	background: #cfc;
	font-size: smaller;
}
td.diff-deletedline {
	background: #ffa;
	font-size: smaller;
}
td.diff-context {
	background: #eee;
	font-size: smaller;
}
span.diffchange {
	color: red;
	font-weight: bold;
}

/**
 * Diff Output
 */
/* main box */
.diff {
	margin-top:    1ex;
	margin-bottom: 0.5ex;
	background: white;
	/* Netscape 4 requires this 1px border.
	 Without it, the paper borders below cause
	 the white background to disappear. */
	border: 1px #ccc solid;
	color: black;
	border-top: 1px solid #494f5d;
	border-left:  1px solid #494f5d;
	border-bottom:  1px solid #c6d2de;
	border-right: 1px solid #c6d2de;
	padding-top:    1px;
	padding-bottom: 1px;
	padding-left:  .125em;
	padding-right: .125em;
	padding: 0;
	/* "paper" borders */
	/*border-top: 2px #d2d2d2 solid;
	border-left:  2px #b2b2b2 solid;
	border-bottom:  2px #e8e6df solid;
	border-right: 2px #e8e6df solid;*/
/*  border-style: inset;*/
	/*This breaks Netscape 4: (display does not go full width).
	 * width: auto;
	 */
	/* I'm not sure what the intent of this was, but it's
	 *  not valid CSS: */
	/* display: editarea; */
	clear: both;
}
.diff .block {
	background: #ddd;
	padding-left: 1em;
	/* for NS4 */
	/*border: none;*/
}

/* individual blocks */
.diff .context {
	background: white;
	/* for NS4 */
	border: none;
}
/* entire difftextblock */
.difftext {
	margin-top:    0;
	margin-bottom: 0;
	background: white;
	/* Netscape 4 requires this 1px border.
	 Without it, the paper borders below cause
	 the white background to disappear. */
	border: 1px black solid;
	/* "paper" borders */
	border-top:  1px #e8e6df solid;
	border-left: 1px #e8e6df solid;
	border-bottom: 1px #d2d2d2 solid;
	border-right:  1px #b2b2b2 solid;
	padding-left:  0em; 
	padding-right: 0em;
	padding-top:    0ex;
	padding-bottom: 0ex;
	/*This breaks Netscape 4: (display does not go full width).
	 * width: auto;
	 */
	clear: both;
}
/* + - line prefix */
.diff .block tt {
	font-weight: normal;
	font-family: monospace;
	color: black;
	/* for NS4 */
	margin-left: 0;
	border: none;
}
/* changed words */
.diff del, .diff ins {
	font-weight: bold;
	text-decoration: none;
}

/* blocks containing deleted or added words */
.diff .original, .diff .deleted,
.diff .final, .diff .added {
	background: white;
}
/* blocks containing deleted words */
.diff .original, .diff .deleted {
	background: #fcc;
	/* for NS4 */
	border: none;
}
/* blocks containing added words */
.diff .final, .diff .added {
	background: #cfc;
	/* for NS4 */
	border: none;
}

/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
/* deleted words */
.diff del { background: #f99; }
/* added words */
.diff ins { background: #9f9; }

/**
 * PageHistory, Info
 */
td.pageinfo { font-weight: bold; }
.pageinfo-minoredit, .pageinfo-authorid {
	font-size: smaller;
	font-style: oblique;
}

/**
 * Calendar plugin
 */
table.cal {
	border: 1px outset gray;
	background: white;
	margin: 0.5ex 0.5em;
	padding: 1px;
	/* For Mozilla */
	empty-cells: hide;
} 

/* cells */
table.cal td {
	background: white;
	text-align: right;
} 

/* Month-name header */
table.cal-header { font-size: larger; }
table.cal-header tr, table.cal-header td { text-align: center; }
.cal-arrow {
	font-weight: bold;
	text-decoration: none;
}

/* Day-names header */
table.cal tbody tr .cal-dayname {  }
.cal-dayname td {
	text-align: center;
	font-size: smaller;
	text-decoration: underline;
}

/* Individual days */
a.cal-hide { text-decoration: none; }

/* Today */
 /* cell */
table.cal td.cal-today {
	margin: 1px;
	border: 1px solid gray;
}
 /* text */
table.cal td.cal-today a.cal-hide {  }

/* 
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2 
*/
#bodyContent a.external,
#bodyContent a[href ^="gopher://"] {
	background: url("images/url.png") center right no-repeat;
	padding-right: 13px;
}
#bodyContent a[href ^="https://"],
.link-https {
	background: url("images/lock_icon.png") center right no-repeat;
	padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
	background: url("images/mail_icon.png") center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
	background: url("images/news_icon.png") center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
	background: url("images/file_icon.png") center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
.link-irc {
	background: url("images/discussionitem_icon.png")  center right no-repeat;
	padding-right: 18px;
}
/* disable interwiki styling */
#bodyContent a.extiw,
#bodyContent a.extiw:active {
	color: #36b;
	background: none;
	padding: 0;
}
#bodyContent a.external {
	color: #36b;
}
/* this can be used in the content area to switch off
special external link styling */
#bodyContent .plainlinks a {
	background: none !important;
	padding: 0 !important;
}
/*
** Structural Elements
*/

/*
** general portlet styles (elements in the quickbar)
*/
.portlet {
	border: none;
	margin: 0 0 .5em;
	padding: 0;
	float: none;
	width: 11.6em;
	overflow: hidden;
}
.portlet h4 {
	font-size: 95%;
	font-weight: normal;
	white-space: nowrap;
}
.portlet h5 { 
	background: transparent;
	padding: 0em 1em 0em 0.5em;
	text-transform: lowercase;
	display: inline;
	font-size: 91%;
	height: 1em;
	font-weight: normal;
	white-space: nowrap;
}
.portlet h6 { 
	background: #ffae2e;
	border: 1px solid #2f6fab;
	border-style: solid solid none solid;
	padding: 0em 1em 0em 1em;
	text-transform: lowercase;
	display: block;
	font-size: 1em;
	height: 1.2em;
	font-weight: normal;
	white-space: nowrap;
}
.pBody {
	font-size: 95%;
	background-color: white;
	color: black;
	border-collapse: collapse;
	border: 1px solid #aaa;
	padding: 0 .8em .3em .5em;
}
.portlet h1,
.portlet h2,
.portlet h3,
.portlet h4 {
	margin: 0;
	padding: 0;
}
.portlet ul {
	line-height: 1.5em;
	list-style-type: square;
	list-style-image: url("images/bullet.png");
	font-size:95%;
}
.portlet li {
	padding:0;
	margin: 0 0 0 0;
	margin-bottom: 0;
}

/* 
** Logo properties 
 * Optionally at the right also an image
*/

#p-logo {
	position: absolute; /*needed to use z-index */
	z-index: 3;
	top: 0;
	left: 0;
	height: 155px;
	width: 12em;
	overflow: visible;
}
#p-logo h5 {
	display: none;
}
#p-logo a,
#p-logo a:hover {
	display: block;
	height: 155px;
	width: 12.2em;
	background-repeat: no-repeat;
	background-position: 35% 50% !important;
	text-decoration: none;
}
/* At the right we put a small "wiki star" */
#img-logo-right {
	position: absolute;
	z-index: 4;
	top:  0;
	right: 0;
	height: 86px;
	width: 86px;
	background: url("images/wiki_stamp.png") left no-repeat;
	background-repeat: no-repeat;
	overflow: visible;
}

/*
** the navigation portlet
*/

#p-navigation {
	position: relative;
	z-index: 3;
}
#p-navigation .pBody {
	padding-right: 0;
}

#p-navigation a {
	display: block;
}

#p-navigation li.active a, #p-navigation li.active a:hover {
	text-decoration: none;
	display: inline;
	font-weight: bold;
}


/*
** Search portlet
*/
#p-search {
	position:relative;
	z-index: 3;
}
input.searchButton {
	margin-top:1px;
	padding: 0 0.4em !important;
	font-size: 95%;
	cursor: pointer;
	background-color: White;
	border: 1px solid #2f6fab;
}
#searchGoButton {
	padding-left: .5em;
	padding-right: .5em;
	font-weight: bold;
}
/*#searchInput, */
#livesearch, #p-search input.dropdown {
	text-align: left;
	width: 9.9em;
	/*margin: 0;*/
	font-size: 95%;
}
#p-search .pBody {
	padding: .5em .4em .4em .4em;
	text-align: center;
}

/*
** the personal toolbar
*/

#p-personal {
	position:absolute;
	z-index: 4;
	width:40em;
	white-space:nowrap;
	padding:0 0 0 0;
	margin:0;
	right: 90px;
	top:0.1em;
	border: none;
	overflow: visible;
	color: black;
	line-height: 1.2em;
}

#p-personal h5 {
	display:none;
}
#p-personal .portlet,
#p-personal .pBody {
	z-index: 0;
	padding:0;
	margin:0;
	border: none;
	overflow: visible;
	background: none;
}
/* this is the ul contained in the portlet */
#p-personal ul {
	z-index: 0;
	border: none;
	line-height: 1.5em;
	color: #2f6fab;
	padding: 0em 2em 0 3em;
	margin: 0;
	text-align: right;
	/*text-transform: lowercase;*/
	list-style: none;
	background: none;
	cursor: default;
}
#p-personal li {
	z-index: 0;
	border:none;
	padding:0;
	display: inline;
	color: #2f6fab;
	margin-left: 1em;
	line-height: 1.2em;
	background: none;
}
#p-personal li.active {
	font-weight: bold;
}
#p-personal li a {
	text-decoration: none;
	color: #005896;
	padding-bottom: 0.2em;
	background: none;
}
#p-personal li a:hover {
	background-color: white;
	padding-bottom: .2em;
	text-decoration: none;
}
#p-personal li.active a:hover {
	background-color: transparent;
}
/* the icon in front of the user name, single quotes
in bg url to hide it from iemac */
li#pt-userpage,
li#pt-anonuserpage,
li#pt-login {
	/*background:  url('images/wikiuser.png') top left bottom no-repeat;*/
	background:  url('images/wikiuser.png') left no-repeat;
	background-repeat: no-repeat;
	padding-left: 20px;
	text-transform: none;
}
#p-personal a.new { color:#ba0000; }

/*
** the page-related actions- page/talk, edit etc
*/
#p-cactions {
	position: absolute;
	/*z-index: 1;*/ /* important! */
	top: 1.3em;
	left: 11.5em;
	margin: 0;
	white-space: nowrap;
	width: 76%;
	line-height: 1.1em;
	overflow: visible;
	background: none;
	border-collapse: collapse;
	padding-left: 1em;
	list-style: none;
	font-size: 95%;
}
#p-cactions .hiddenStructure {
	display: none;
}
#p-cactions ul {
	list-style: none;
}
#p-cactions li {
	display: inline;
	border: 1px solid #aaa;
	border-bottom: none;
	padding: 0 0 .1em 0;
	margin: 0 .3em 0 0;
	overflow: visible;
	background: white;
}
#p-cactions li.selected {
	border-color: #fabd23;
	padding: 0 0 0.2em 0 !important;
}
#p-cactions li a {
	position: relative;
	z-index: 0;
	background-color: #fbfbfb;
	color: #002bb8;
	border: none;
	padding: 0 .8em .3em;
	text-decoration: none;
	/*text-transform: lowercase;*/
	margin: 0;
}
#p-cactions li.selected a {
	z-index: 3;
	background-color: #fff;
	padding: 0 1em 0.2em;
}
#p-cactions .new a {
	color: #ba0000;
}
#p-cactions li a:hover {
	z-index: 3;
	text-decoration: none;
	background-color: #dedede;
}
/* http://www.aboutus.org/UniversalWikiEditButton */
#p-cactions li a#btn-edit {
	background:  url('images/Edit-chalk-10gs.png') top left no-repeat;
	background-repeat: no-repeat;
	padding-left: 20px !important;
	text-transform: none;
}
#p-cactions li a#btn-edit:hover {
	z-index: 3;
	text-decoration: none;
	background-color: #fff;
	/*padding-bottom: 0.3em !important;*/
}
#p-cactions h5 {
	display: none;
}
#p-cactions li.istalk {
	margin-right: 0;
}
#p-cactions li.istalk a {
	padding-right: .5em;
}
#p-cactions #ca-addsection a {
	padding-left: .4em;
	padding-right: .4em;
}
/* offsets to distinguish the tab groups */
li#ca-talk {
	margin-right: 1.6em;
}
li#ca-watch, li#ca-unwatch, li#ca-varlang-0, li#ca-print {
	margin-left: 1.6em;
}

/*
** the remaining portlets
*/
#p-tbx,
#p-lang {
	position: relative;
	z-index: 3;
}

/*
** footer
*/
#footer {
	background-color: white;
	border-top: 1px solid #fabd23;
	border-bottom: 1px solid #fabd23;
	margin: .6em 0 1em 0;
	border-left: 1px solid #fabd23;
	margin-left: 13.6em;
	padding: .4em 0 1.2em 0;
	text-align: center;
	font-size: 90%;
}
#footer li {
	display: inline;
	margin: 0 1.3em;
}
/* hide from incapable browsers */
head:first-child+body #footer li { white-space: nowrap; }
#f-poweredbyico, #f-copyrightico {
	margin: 0 8px;
	/*vertical-align: middle;*/
	height: 31px;
	position: relative;
	top: -31px; /* Bump it up just a tad */
}
#f-poweredbyico {
	float: right;
}
#f-copyrightico {
	float: left;
}

/* js pref toc */
#preftoc { 
	float: left;
	margin: 1em 1em 1em 1em;
	width: 13em;
}
#preftoc li { border: 1px solid White; }
#preftoc li.selected { 
	background-color:#f9f9f9;
	border:1px dashed #aaaaaa;
}
#preftoc a,
#preftoc a:active {
	display: block;
	color: #0014a6;
}
#prefcontrol { 
	clear: both;
	float: left;
	margin-top: 1em;
}
div.prefsectiontip { 
	font-size: 95%;
	margin-top: 1em;
}
fieldset.operaprefsection { margin-left: 15em }

/* 
** IE/Mac fixes, hope to find a validating way to move this
** to a separate stylesheet. This would work but doesn't validate: 
** @import("IEMacFixes.css");
*/

/* tabs: border on the a, not the div */
* > html #p-cactions li { border:none; }
* > html #p-cactions li a {
	border: 1px solid #aaa;
	border-bottom: none;
}
* > html #p-cactions li.selected a { border-color: #fabd23; }
/* footer icons need a fixed width */
* > html #f-poweredbyico,
* > html #f-copyrightico { width: 88px; }
* > html #bodyContent,
* > html #bodyContent pre {
	overflow-x: auto;
	width: 100%;
	padding-bottom: 25px;
}

/* more IE fixes */
/* float/negative margin brokenness */
* html #footer {margin-top: 0;}
* html #column-content {
	display: inline;
	margin-bottom: 0;
}
* html div.editsection { font-size: smaller; }
#pagehistory li.selected { position: relative; }

/* Mac IE 5.0 fix; floated content turns invisible */
* > html #column-content {
	float: none;
}
* > html #column-one {
	position: absolute;
	left: 0;
	top: 0;
}
* > html #footer {
	margin-left: 13.2em;
}
.redirectText {
	font-size: 150%;
	margin: 5px;
}

.printfooter {
	display: none;
}

.not-patrolled {
	background-color: #ffa;
}
div.patrollink {
	font-size: 75%;
	text-align: right;
}
span.newpage, span.minor, span.searchmatch, span.bot {
	font-weight: bold;
}
span.unpatrolled {
	font-weight: bold;
	color: red;
}

span.searchmatch {
	color: red;
}
.sharedUploadNotice {
	font-style: italic;
}

span.updatedmarker {
	color: black;
	background-color: #0f0;
}
span.newpageletter {
	font-weight: bold;
	color: black;
	background-color: yellow;
}
span.minoreditletter {
	color: black;
	background-color: #c5ffe6;
}

table.gallery {
	border: 1px solid #ccc;
	margin: 2px;
	padding: 2px;
	background-color: white;
}

table.gallery tr {
	vertical-align: top;
}

table.gallery td {
	vertical-align: top;
	background-color: #f9f9f9;
	border: solid 2px white;
}

table.gallery td.galleryheader {
	text-align: center;
	font-weight: bold;
}

div.gallerybox {
	margin: 2px;
	width:  150px;
}

div.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #ccc;
	margin: 2px;
}

div.gallerytext {
	font-size: 94%;
	padding: 2px 4px;
}

span.comment {
	font-style: italic;
}

span.changedby {
	font-size: 95%;
}

.previewnote {
	text-indent: 3em;
	color: #c00;
	border-bottom: 1px solid #aaa;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.previewnote p {
	margin: 0;
	padding: 0;
}

.editExternally {
	border: 1px solid gray;
	background-color: #ffffff;
	padding: 3px;
	margin-top: 0.5em;
	float: left;
	font-size: small;
	text-align: center;
}
.editExternallyHelp {
	font-style: italic;
	color: gray;
}

li span.deleted, span.history-deleted {
	text-decoration: line-through;
	color: #888;
	font-style: italic;
}

.toggle {
	margin-left: 2em;
	text-indent: -2em;
}

/* Classes for EXIF data display */
table.mw_metadata {
	font-size: 0.8em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 300px;
}

table.mw_metadata caption {
	font-weight: bold;
}

table.mw_metadata th {
	font-weight: normal;
}

table.mw_metadata td {
	padding: 0.1em;
}

table.mw_metadata {
	border: none;
	border-collapse: collapse;
}

table.mw_metadata td, table.mw_metadata th {
	text-align: center;
	border: 1px solid #aaaaaa;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

table.mw_metadata th {
	background-color: #f9f9f9;
}

table.mw_metadata td {
	background-color: #fcfcfc;
}

table.collapsed tr.collapsable {
	display: none;
}


/* filetoc */
ul#filetoc {
	text-align: center;
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#filetoc li {
	display: inline;
	list-style-type: none;
	padding-right: 2em;
}

/* @bug 1714 */
input#wpSave, input#wpDiff {
	margin-right: 0.33em;
}

#editform .editOptions {
	display: inline;
}

#wpSave {
	font-weight: bold;
}

/* Classes for article validation */

table.revisionform_default {
	border: 1px solid #000000;
}

table.revisionform_focus {
	border: 1px solid #000000;
	background-color:#00BBFF;
}

tr.revision_tr_default {
	background-color:#EEEEEE;
}

tr.revision_tr_first {
	background-color:#DDDDDD;
}

p.revision_saved {
	color: green;
	font-weight:bold;
}

#mw_trackbacks {
	border: solid 1px #bbbbff;
	background-color: #eeeeff;
	padding: 0.2em;
}


/* Allmessages table */

#allmessagestable th {
	background-color: #b2b2ff;
}

#allmessagestable tr.orig {
	background-color: #ffe2e2;
}

#allmessagestable tr.new {
	background-color: #e2ffe2;
}

#allmessagestable tr.def {
	background-color: #f0f0ff;
}


/* noarticletext */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	padding: .2em 1em;
	color: #000;
}

div#searchTargetContainer {
	left:       10px;
	top:        10px;
	width:      90%;
	background: white;
}

div#searchTarget {
	padding:    3px;
	margin:     5px;
	background: #F0F0F0;
	border:     solid 1px blue;
}

div#searchTarget ul li {
	list-style: none;
}

div#searchTarget ul li:before {
	color: orange;
	content: "\00BB \0020";
}

div.multipageimagenavbox {
	 border: solid 1px silver;
	 padding: 4px;
	 margin: 1em;
	 -moz-border-radius: 6px;
	 background: #f0f0f0;
}

div.multipageimagenavbox div.thumb {
	 border: none;
	 margin-left: 2em;
	 margin-right: 2em;
}

div.multipageimagenavbox hr {
	 margin: 6px;
}

table.multipageimage td {
	 text-align: center;
}

/*
	Table pager (e.g. Special:Imagelist)
	- remove underlines from the navigation link
	- collapse borders
	- set the borders to outsets (similar to Special:Allmessages)
	- remove line wrapping for all td and th, set background color
	- restore line wrapping for the last two table cells (description and size)
*/
.TablePager_nav a { text-decoration: none; }
.TablePager { border-collapse: collapse; }
.TablePager, .TablePager td, .TablePager th { 
	border: 0.15em solid #777777;
	padding: 0 0.15em 0 0.15em;
}
.TablePager th { background-color: #eeeeff }
.TablePager td { background-color: #ffffff }
.TablePager tr:hover td { background-color: #eeeeff }

.imagelist td, .imagelist th { white-space: nowrap }
.imagelist .TablePager_col_links { background-color: #eeeeff }
.imagelist .TablePager_col_img_description { white-space: normal }
.imagelist th.TablePager_sort { background-color: #ccccff }

/**
 * PhpWiki Tables
 */
.pagelist { }
.pagelist thead td {
	background: #e8e8e8;
	text-decoration: none;
	font-weight: bold;
	font-size: smaller;
}
.pagelist thead td u { text-decoration: none; }
.pagelist tr.evenrow { background: #eee; }
.pagelist tr.oddrow  { background: white; }
th.gridbutton {
	background-color: ThreedLightShadow;
	color: black;
	font-family: Tahoma, sans-serif, Arial, Helvetica;
	font-size: small;
	font-weight: normal;
	/*font-style: menu;*/
	white-space: nowrap;
	margin: 5px 0px;
	max-height: 24px;
	padding: 5px 0px 5px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: ThreedHighlight ThreedDarkShadow ThreedDarkShadow ThreedHighlight;
}
input.gridbutton, a.gridbutton, a:hover.gridbutton, a:visited.gridbutton {
	text-decoration: none;
	font-size: small;
	font-weight: normal;
	/*font-style: menu;*/
	font-family: Tahoma, sans-serif, Arial, Helvetica;
	background-color: ThreedLightShadow;
	color: black;
}

.wikipaging { font-size: 80% }
.wikipaging-disabled { color: #999 }

/* <?plugin RawHtml <div class="boxright"> </div> */

div.boxright {
	width: 200px; 
	right: 10px;
	padding: 0.5em; 
	float: right; 
	border: thin solid #888888; 
	padding: 0.5em;
}

div#bottom {   
	margin-left:   12.2em;
}
/* PHP Warnings */
div.errors {
	color: black;
	background: #eee;
	margin-top:    1em;
	margin-bottom: 1em;
	padding-left:  0.8em; 
	padding-right: 0.8em; 
	padding-top:    0.8ex;
	padding-bottom: 0;
	border: medium solid red;
	clear: both;
}
h4.errors {
	color: red;
	margin:  0;
	padding: 0;
	text-decoration: underline;
}
div.warning {
	color: black;
	background: #eee;
	margin-top:    1em;
	margin-bottom: 1em;
	padding-left:  0.8em; 
	padding-right: 0.8em; 
	padding-top:    0.8ex;
	padding-bottom: 0;
	border: thin solid blue;
	clear: both;
}
.error { font-family: monospace; font-size: 120%; }
.error ul { font-family: monospace; }

/* Debug */
.debug {
	color: black;
	background: white;
	font-family: monospace;
	font-size: smaller;
	margin: 1ex 0;
	padding: 0.5ex 0.5em;
	border: medium solid #fff8dc; /* darker ivory */
}
/* Hints */
.hint {
	color: black;
	background: #eeeeee;
	 /* font-size: smaller; */
	font-style: italic;
	margin-left: 3em;
	padding: 0.5ex 0.5em;
	border: thin solid #aaaaaa;
}
span.hint {
	padding: 0;
}
/* Disabled Plugins */
.disabled-plugin
{
	clear: both;
	margin: 1ex 0;
	padding: 0;
}
.disabled-plugin .title {
	color: #400;
	background-color: inherit;
	font-size: x-small;
	text-align: right;
	padding: 0 0.5em;
}
.disabled-plugin pre {
	color: black;
	background: #ddd;
	margin: 0;
	padding: 0.3ex 0.5em;
}

/* "(Redirected from ...)" message. */
span.redirectfrom {
	font-size: small;
	font-style: oblique;
	font-weight: normal;
	padding-left: 1em;
}
.search-context { background: white; font-style: oblique; }
.search-term {
	background: yellow;
	font-weight: normal;
}

a.spell-wrong {
	color:#ba0000; 
	background: yellow;
}
span.spell-wrong {
	color:#ba0000; 
}


/**
 * Wiki Forms
 * 
 * The div inside the wikiadmin upload form does not
 * have a class yet, so it must be referenced indirectly
 */
/* div.wikiaction { background-color: #eee; } */
/* div.wikiadmin { background-color: #fee; } */
/* form.wikiadmin div { background-color: #fee; } */
form.wikiformrich { background-color: #eee; }

/**
 * Link styles
 */
.wiki, .named-wiki {
	text-decoration: none;
	font-weight: normal;
	/* font-weight: bold; */
}
.wiki relation, .named-wiki relation, .wiki attribute, .named-wiki attribute {
	font-style: oblique;
	/* font-weight: normal; */
	font-weight: bold;
}

span.relation-symbol {
	font-weight: bold;
	font-family: monospace;
	letter-spacing: 0.1em;
}

/* Action buttons */
a.wikiaction, a.wikiadmin, a.wiki-rc-action, a.wikiunsafe,
input.wikiaction, input.button, input.wikiadmin {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	/* don't wrap text buttons */
	white-space: nowrap;
	/*font-size: inherit; */
}

/*
a.wikiaction, a.wikiaction:visited, input.wikiaction, input.button { 
	background-color: #ddd; 
}
*/

.wikiunsafe { background-color: #fcc; }

/*
a.wikiadmin, a.wikiadmin:visited, input.wikiadmin  { 
	background-color: #fdd; 
}
*/

/* Unknown links */
.wikiunknown, .named-wikiunknown {
	font-weight: normal;
	font-size: 100%;
}
 /* QuestionMark #600 */
.wikiunknown a, .named-wikiunknown a {
	color: #447;
	background-color: #eee;
	text-decoration: none;
	font-weight: normal;
	font-size: smaller;
}

/* Backlinks */
.backlinks {
	text-decoration: underline;
	color: #006;
}
h1 .backlinks { text-decoration: underline; }

/* Interwiki links */
/* .wikipage  { font-weight: bold; } */
.wikipage  { font-weight: normal; }
.interwiki { text-decoration: none; }
.interwiki, i.interwiki .wikipage, em .interwiki .wikipage { font-style: oblique; }
.interwiki .wikipage, i .interwiki, em .interwiki { font-style: normal; }

/*
 * table class="boxed"
 * will put a border around the table (but not around the cells)
 *
 * table class="bordered"
 * will put a border around the table and the cells
 *
 * In both cases, the caption will be bold and centered under the table
 *
 * In both cases, the headers (th) will have a "#d8d8d8" background
 */

table.boxed, table.bordered, table.bordered th, table.bordered td {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    vertical-align: top;
}

table.boxed td, table.bordered td,
table.boxed th, table.bordered th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

table.boxed caption, table.bordered caption {
    text-align: center;
    font-weight: bold;
    caption-side: bottom;
    padding-top: 0.8em;
}

table.boxed th, table.bordered th {
    font-weight: bold;
    background-color: #d8d8d8;
}

/* For RecentChanges plugin */
td.tdselected, td.tdunselected {
   text-align: center;
   font-weight: bold;
   padding-left: 5px;
   padding-right: 5px;
}

td.tdselected {
   color: white;
   background-color: #554295;
}

td.tdunselected {
   color: black;
   background-color: #e9e8de;
}

/* Style for feedback
 * Use this style to tell the user that the operation he
 * requested was executed successfully, e.g:
 * User was successfully registered
*/
.feedback {
     font-weight: bold;
     border-width: 2px;
     border-style: solid;
     background-color: #DFD;
     border-color: green;
     padding: 0.5em;
}

#edit-public, h1.firstHeading-public, h1.firstHeading-rating-public {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
}
