<?php // -*- php -*-
  rcs_id('$Id: blogform.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
?>
<div class="wikiblog wikiblog-form">
<form action="<?=$request->getPostURL()?>" method="post" name="editpage"
      accept-charset="<?=$charset?>" id="wikiblog-form">
  <input type="hidden" name="edit[pagename]" value="<?=$PAGENAME?>" />
  <input type="hidden" name="mode" value="add" />
  <div class="wikiblog-form">
     <?= _("Headline").': ' ?><br />
     <input id="wikiblog-summary" class="wikitext" type="text" style="width:540px" size="60"
                   maxlength="256" name="edit[summary]" value="" />
     <?= $EDIT_TOOLBAR ?>
     <a name="editarea"></a>
     <textarea id="edit-content" class="edit-content" rows="8" style="width:540px"
               name="edit[content]"></textarea>
     <br />
     <input id="wikiblog-submit" type="submit" value="<?=_("Add Entry")?>"
                     name="edit[save]" class="wikiaction" />
  </div>

<hr noshade="noshade" />
<div id="newMarkup" class="wiki-edithelp">
  <p><?= fmt("See %s tips for editing.", WikiLink(_("Help/GoodStyle"))) ?></p>
  <?plugin IncludePage page=_("Help/TextFormattingRules") section=_("Synopsis") quiet=1?>
</div>
<?=$HIDDEN_INPUTS?>
</form>
</div>
