<?php  // -*-html-*-
/* $Id: frame-footer.tmpl 6204 2008-08-26 15:12:03Z vargenau $
 *
 * This template is responsible mainly for the outer level <html> stuff.
 */
printf("<?xml version=\"1.0\" encoding=\"%s\"?>\n", CHARSET);
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?= Template('head') ?>
<body>
<?= Template('browse-footer') ?>
<?= Template('bottom') ?>
</body>
</html>
