<?php // -*- php -*-
  rcs_id('$Id: wikiforum.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
/* 
navigation headline: "MainForum / SubPage / ThisTopic" comes for free

other templates: forum-topics.tmpl: summary list of topics

this  template:  detailed list of threads per topic

action: "newtopic" or "postreply"
*/
$CDATE = $WikiTheme->formatDateTime($FORUM_CTIME);
?>
<div class="wikiforum wikiforum-form">
<form action="<?=$request->getPostURL()?>" method="post" class="wikiaction"
      accept-charset="<?=CHARSET?>">
  <input type="hidden" name="forum[title]" value="<?= $FORUM_PARENT ?>" />
  <?= HiddenInputs($request->getArgs()) ?>
  <table class="wikiforum wikiforum-list">
    <caption><?=_("New Topic")?>  &nbsp;&nbsp; <?=_("Post new")?> </caption>
    <col class="label" width="10%" /><col width="100%" />
    <tr><th align="center"><?=_("Author")?></th><th align="center"><?=_("Message")?></th></tr>

    <tr>
      <td align="left"><?=WikiLink($FORUM_CREATOR, 'if_known')?></td>
      <td>
        <table class="wikiforum wikiforum-message">
          <tr><td align="left"><?=fmt("Posted: %s",$CDATE)?></td>
              <td align="right"><?=_("Reply")?></td></tr>
          <tr><td><?= $CONTENT ?></td></tr>
        </table>
     </td>
   </tr>

  </table>
</form>
</div>

