/**
 * $Id: phpwiki.css 6480 2009-02-02 14:13:24Z vargenau $
 *
 * This incarnation of this stylesheet is a complete rewrite from the
 * ground up.
 *
 * Mozilla's "DOM Inspector" Sidebar was an invaluable troubleshooting
 * tool for mapping the more complex CSS node selectors, such as those
 * used to reference the various CalendarPlugin elements.
 */

/**
 * General
 */ 
img { border: 0ex; }

form { margin: 0ex; }

table {
  border-spacing: 1px;
  /* For Mozilla */
  empty-cells: show;
}

caption {
  caption-side: top;
  text-align: left;
  margin-bottom: .5ex;
  /* Allow the caption to extend to the full page width
     Mac ie5.1 ignores this*/
  width: 100%;
}


/**
 * Wiki
 */
body {
  /* ivory #ffe #fffff0*/
  background: #fffff0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 85%; /* The default is too large. But enlarge monospace below */
  margin: 1.5ex 1em;
}

div.wikitext hr { height: 1px; }

div.wikitext pre { font-family: monospace; }


/**
 * PageTypes
 */
/* Main wiki text box */
div.wikitext {
  margin-top:    1ex;
  margin-bottom: 0.5ex;
  background-color: white;
  /* Netscape 4 requires this 1px border.
     Without it, the paper borders below cause
     the white background to disappear. */
  border: 1px black solid;
  /* "paper" borders */
  border-top:  1px #e8e6df solid;
  border-left: 1px #e8e6df solid;
  border-bottom: 1px #d2d2d2 solid;
  border-right:  1px #b2b2b2 solid;
  padding-left:  0.8em; 
  padding-right: 0.8em;
  padding-top:    0.5ex;
  padding-bottom: 0.5ex;
  /*This breaks Netscape 4: (display does not go full width).
   * width: auto;
   */
  clear: both;
}
/* for the login template */
div#browse  {
  margin-top:    1px;
  margin-bottom: 0.5px;
  /*background: #dddddd;*/
}
input#inp-openid {
  background:  url('images/openid.png') bottom left no-repeat;
  background-repeat: no-repeat;
  padding-left: 18px !important;
}

/* .interwiki-map thead td { text-decoration: underline; } */

/*
** RecentChanges
*/
.pageinfo-majoredit { 
	font-weight: bold;
}
.wiki-summary {
  	font-size: 94%;
  	font-style: italic;
}

/* Mozilla RecentChanges Sidebar */
body.sidebar {
  font-size: smaller;
  margin: 0.5em;
}
body.sidebar div.wikitext {
  padding: 0.5em;
}
body.sidebar div.wikitext ul { padding-left: 1em; }
body.sidebar h2 { margin-top: 0; }


/**
 * Wiki Forms
 * 
 * The div inside the wikiadmin upload form does not
 * have a class yet, so it must be referenced indirectly
 */
div.wikiaction { background-color: #eee; }
/* div.wikiadmin { background-color: #fee; } */
form.wikiadmin div { background-color: #fee; }
form.wikiformrich { background-color: #eee; }

/**
 * Link styles
 */
.wiki, .named-wiki {
  text-decoration: none;
  /* font-weight: normal; */
  font-weight: bold;
}
.wiki relation, .named-wiki relation, .wiki attribute, .named-wiki attribute {
  font-style: oblique;
  /* font-weight: normal; */
  font-weight: bold;
}

span.relation-symbol {
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.1em;
}

/* Action buttons */
a.wikiaction, a.wikiadmin, a.wiki-rc-action, a.wikiunsafe,
input.wikiaction, input.button, input.wikiadmin {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* don't wrap text buttons */
    white-space: nowrap;
    /* font-size: inherit; */
}

a.wikiaction, a.wikiaction:visited, input.wikiaction, input.button { 
    background-color: #ddd; 
}

.wikiunsafe { background-color: #fcc; }

a.wikiadmin, a.wikiadmin:visited, input.wikiadmin  { 
    background-color: #fdd; 
}

/* Unknown links */
.wikiunknown, .named-wikiunknown {
  font-weight: normal;
  font-size: 100%;
}

/* QuestionMark #600 */
.wikiunknown a, .named-wikiunknown a {
  color: #447;
  background-color: #eee;
  text-decoration: none;
  font-weight: normal;
  font-size: smaller;
}

/* Backlinks */
.backlinks {
  text-decoration: underline;
  color: #006;
}
h1 .backlinks { text-decoration: underline; }

/* Interwiki links */
/* .wikipage  { font-weight: bold; } */
.wikipage  { font-weight: normal; }
.interwiki { text-decoration: none; }
.interwiki, i.interwiki .wikipage, em .interwiki .wikipage { font-style: oblique; }
.interwiki .wikipage, i .interwiki, em .interwiki { font-style: normal; }

/* image buttons */
a.wikibutton, a.wikibutton:visited, input.wikibutton  { 
    background-color: white; 
}

/**
 * headings: Georgia
 */
h1, h2, h3, h4, h5, h6 { font-family: Arial, Helvetica, sans-serif; }

h1 { margin: 0; font-size: 140% }


/**
 * Tables
 */
table, td { font-family: Arial, Helvetica, sans-serif; }
caption { font-family: Arial, Helvetica, sans-serif; }
.pagelist { }
.pagelist thead td {
  background: #e8e8e8;
  text-decoration: none;
  font-weight: bold;
  font-size: smaller;
}
.pagelist thead td u { text-decoration: none; }
.pagelist tr.evenrow { background: #eee; }
.pagelist tr.oddrow  { background: white; }
th.gridbutton {
  background-color: ThreedLightShadow;
  color: black;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: normal;
  /*font-style: menu;*/
  white-space: nowrap;
  margin: 5px 0px;
  max-height: 24px;
  padding: 5px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: ThreedHighlight ThreedDarkShadow ThreedDarkShadow ThreedHighlight;
}
input.gridbutton, a.gridbutton, a:hover.gridbutton, a:visited.gridbutton {
  text-decoration: none;
  font-size: small;
  font-weight: normal;
  /*font-style: menu;*/
  font-family: Tahoma, sans-serif, Arial, Helvetica;
  background-color: ThreedLightShadow;
  color: black;
}


/**
 * Toolbar
 */
.toolbar, input.button, #signin { font-family: Arial, Helvetica, sans-serif; }

.toolbar {
  padding: 0;
  margin:  0;
}
.edit-toolbar {
  padding: 0;
  margin:  0;
}
.edit-toolbar img, .edit-toolbar input {
  background-color: #fff;
  border: 1px solid ButtonFace;
}

#navbuttons {
  padding-right: 4em; /* wrap around logo */
  padding-bottom: 1ex; /* space for h1 */
}
.editdate {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 0.25ex;
}
/*
div#logo {
  float: right;
}
*/
#logo img {
  float: right;
  /* Netscape 4 requires this 1px border.
     Without it, the paper borders below cause
     the white background to disappear. */
  border: 1px black solid;
  /* "paper" borders */
  border-top:  1px #e8e6df solid;
  border-left: 1px #e8e6df solid;
  border-bottom: 1px #d2d2d2 solid;
  border-right:  1px #b2b2b2 solid;
}

/**
 * Edit Page & View Source
 */

/* Make the textarea the full page width */
textarea.wikiedit {
  width: 100%;
  margin-bottom: 0.5ex;
  margin-top:    0.5ex;
  padding: 2px;
}

#editarea-size {
  margin-top: 1ex;
  text-align: right;
  font-size: smaller;
}
#search-replace {
  margin-top: 1ex;
  text-align: left;
  font-size: smaller;
}
#toolbar { padding:0px; }

/**
 * Search
 */
#searchholder { display: inline; }

/**
 * Search Results
 */
.search-context { background: white; font-style: oblique; }
.search-term {
  background: yellow;
  font-weight: normal;
}
#LSResult {
  position: absolute;
  text-align: left;
  display: none;
  z-index: 100;
  background-color: white;
  border: 1px solid #d0d0d0; 
  font-size: 9px;
  overflow: hidden;
}
#LSHighlight {
  background-color: #f08000;
}
#LSResult .evenrow {
  background-color: #f0f0f0;
} 
#LSREsult .oddrow {
} 
.LSEnd {
  text-align: right;
}
.LSRow:hover {
  background-color: white;
}
.LSRow {
  padding: 1px;
} 
ul.LSRes {
  margin: 0px;
  padding: 0px;
}
li.LSRow {
  margin: 0px;
  list-style-image: none;
}

/* IncludePage plugin */
.transclusion-title {
  text-align: right;
  font-style: oblique;
  font-size:  smaller;
  text-decoration: underline;
  margin-bottom: 0.25ex;
  margin-right:  0.25em;
} 
.transclusion, .wiki-edithelp {
  font-size: smaller;
}
.transclusion {
  border: 1px solid gray;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:     0px;
  padding-bottom:  0px;
  margin-left:   0.25em;
  margin-right:  0.25em;
  margin-bottom: 0.1ex;
}
.wiki-edithelp {
  background: white;
  border: medium solid #fff8dc; /* darker ivory */
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.75ex;
  padding-bottom: 0.75ex;
  margin-left:  0;
  margin-right: 0;
  margin-top: 1ex;
  margin-bottom: 1ex;
}
.wiki-edithelp .wiki {
  /* color: #5454ff;*/
}
.wiki-edithelp p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.5ex;
  padding-bottom: 0.5ex;
  margin: 0;
}


/**
 * Calendar plugin
 */
table.cal {
  border: 1px outset gray;
  background: white;
  margin: 0.5ex 0.5em;
  padding: 1px;
  /* For Mozilla */
  empty-cells: hide;
} 

/* cells */
table.cal td {
  background: white;
  text-align: right;
} 

/* Month-name header */
table.cal-header { font-size: larger; }
table.cal-header tr, table.cal-header td { text-align: center; }
.cal-arrow {
  font-weight: bold;
  text-decoration: none;
}

/* Day-names header */
table.cal tbody tr .cal-dayname {  }
.cal-dayname td {
  text-align: center;
  font-size: smaller;
  text-decoration: underline;
}

/* Individual days */
a.cal-hide { text-decoration: none; }

/* Today */
 /* cell */
table.cal td.cal-today {
  margin: 1px;
  border: 1px solid gray;
}
 /* text */
table.cal td.cal-today a.cal-hide {  }

/**
 * Diff Output
 */
/* main box */
.diff {
  margin-top:    1ex;
  margin-bottom: 0.5ex;
  background: white;
  /* Netscape 4 requires this 1px border.
     Without it, the paper borders below cause
     the white background to disappear. */
  border: 1px #ccc solid;
  color: black;
  border-top: 1px solid #494f5d;
  border-left:  1px solid #494f5d;
  border-bottom:  1px solid #c6d2de;
  border-right: 1px solid #c6d2de;
  padding-top:    1px;
  padding-bottom: 1px;
  padding-left:  .125em;
  padding-right: .125em;
  padding: 0;
  /* "paper" borders */
  /*border-top: 2px #d2d2d2 solid;
  border-left:  2px #b2b2b2 solid;
  border-bottom:  2px #e8e6df solid;
  border-right: 2px #e8e6df solid;*/
/*  padding-left:  0em; 
  padding-bottom: 0ex;*/
/*  border-style: inset;*/
  /*This breaks Netscape 4: (display does not go full width).
   * width: auto;
   */
  /* I'm not sure what the intent of this was, but it's
   *  not valid CSS: */
  /* display: editarea; */
  clear: both;
}
.diff .block {
  background: #ddd;
  padding-left: 1em;
  /* for NS4 */
  /*border: none;*/
}

/* individual blocks */
.diff .context {
  background: white;
  /* for NS4 */
  border: none;
}
/* entire difftextblock */
.difftext {
  margin-top:    0;
  margin-bottom: 0;
  background: white;
  /* Netscape 4 requires this 1px border.
     Without it, the paper borders below cause
     the white background to disappear. */
  border: 1px black solid;
  /* "paper" borders */
  border-top:  1px #e8e6df solid;
  border-left: 1px #e8e6df solid;
  border-bottom: 1px #d2d2d2 solid;
  border-right:  1px #b2b2b2 solid;
  padding-left:  0em; 
  padding-right: 0em;
  padding-top:    0ex;
  padding-bottom: 0ex;
  /*This breaks Netscape 4: (display does not go full width).
   * width: auto;
   */
  clear: both;
}
/* + - line prefix */
.diff .block tt {
  font-weight: normal;
  font-family: monospace;
  color: black;
  /* for NS4 */
  margin-left: 0;
  border: none;
}
/* changed words */
.diff del, .diff ins {
  font-weight: bold;
  text-decoration: none;
}

/* blocks containing deleted or added words */
.diff .original, .diff .deleted,
.diff .final, .diff .added {
  background: white;
}
/* blocks containing deleted words */
.diff .original, .diff .deleted {
  background: #fcc;
  /* for NS4 */
  border: none;
}
/* blocks containing added words */
.diff .final, .diff .added {
  background: #cfc;
  /* for NS4 */
  border: none;
}

/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
/* deleted words */
.diff del { background: #f99; }
/* added words */
.diff ins { background: #9f9; }


/**
 * PageHistory, Info
 */
td.pageinfo { font-weight: bold; }
.pageinfo-minoredit, .pageinfo-authorid {
  font-size: smaller;
  font-style: oblique;
}


/**
 * Other
 */
.printer, .no-css { display: none; }

/* PHP Warnings */
div.errors {
  color: black;
  background: #eee;
  margin-top:    1em;
  margin-bottom: 1em;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:    0.8ex;
  padding-bottom: 0;
  border: medium solid red;
  clear: both;
}
h4.errors {
  color: red;
  margin:  0;
  padding: 0;
  text-decoration: underline;
}
div.warning {
  color: black;
  background: #eee;
  margin-top:    1em;
  margin-bottom: 1em;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:    0.8ex;
  padding-bottom: 0;
  border: thin solid blue;
  clear: both;
}
.error { font-family: monospace; font-size: 120%; }
.error ul { font-family: monospace; }

/* Debug */
.debug {
  color: black;
  background: white;
  font-family: monospace;
  font-size: smaller;
  margin: 1ex 0;
  padding: 0.5ex 0.5em;
  border: medium solid #fff8dc; /* darker ivory */
}

/* Hints */
.hint {
  color: black;
  background: #eeeeee;
   /* font-size: smaller; */
  font-style: italic;
  margin-left: 3em;
  padding: 0.5ex 0.5em;
  border: thin solid #aaaaaa;
}
span.hint {
  padding: 0;
}

/* Disabled Plugins */
.disabled-plugin
{
  clear: both;
  margin: 1ex 0;
  padding: 0;
}
.disabled-plugin .title {
  color: #400;
  background-color: inherit;
  font-size: x-small;
  text-align: right;
  padding: 0 0.5em;
}
.disabled-plugin pre {
  color: black;
  background: #ddd;
  margin: 0;
  padding: 0.3ex 0.5em;
}

/* "(Redirected from ...)" message. */
span.redirectfrom {
  font-size: small;
  font-style: oblique;
  font-weight: normal;
  padding-left: 1em;
}

/*
 * "DL tables"
 */
.wiki-dl-table {
  border-collapse: collapse;
  border: 2px #444 solid;
}
.wiki-dl-table tr {
  border-top: 2px #444 solid;
  border-bottom: 2px #444 solid;
  border-left: none; 
  border-right: none; 
}
.wiki-dl-table th,
.wiki-dl-table td {
  padding: 0.25em 0.5em;
}
.wiki-dl-table th {
  vertical-align: top;
  text-align: right;
  border-right: 1px #444 solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.wiki-dl-table td {
  border: none;
}

/*
 * "E-mail" style blockquote
 */
blockquote.mail-style-quote {
  border-left: medium #284 solid;
  padding-left: 1em;
  margin-left: 0;
  margin-right: 0;
}
.mail-style-quote blockquote.mail-style-quote {
  margin-left: -0.6em;
}


/*
 * wikiblog
 */
.floatleft { float: left; }
.floatright { float: right; }

div.wikiblog {
  /* border: thin black solid; */
  margin: 1ex 2em;
  padding: 0 0;
}
div.wikiblog > div {
  margin: 0 0;
  padding: 0.5ex 0.5em;
}
div.wikiblog-header {
  /* background-color: #ccf; */
}
div.wikiblog > div.wikiblog-footer {
  /* background-color: #eee; */
  padding: 0.2ex 0.5em;
}
h3.wikiblog-summary {
  font-size: medium;
  font-weight: bold;
  margin: 0 0 1ex 0;
}

div.wikiblog.wikiblog-form {
  /* background-color: #eee; */
}

table.wikiblog-form {
  width: auto;
  border-collapse: collapse;
  margin: 0.25em 0;
}
.wikiblog-form caption {
  /* background-color: #ccf; */
  caption-side: top;
  font-weight: bold;
  text-align: left;
  padding: 0.5ex 0.5em;
}
.wikiblog-form th {
  vertical-align: top;
  text-align: right;
  padding: 0 0 0.3em 0.5em;
}
.wikiblog-form td {
  padding: 0.25em 0.5em;
}
.wikiblog-form td.submit-button {
  padding: 0;
}
.wikiblog-form input[type=text],
.wikiblog-form textarea {
  margin: 0 0;
  width: 100%;
}
div.wikicomment div.wikicomment-footer {
  padding: 0.2ex 0.5em;
}
div.wikicomment div.wikicomment-footer named-wiki {
  font-size: small;
}
table.interwiki-map {
  margin: 1em 2em;
}
.interwiki-map th {
  text-decoration: underline;
  text-align: left;
  padding-left: 1em;
}
.interwiki-map td.interwiki-url {
  padding-left: 2em;
}
.interwiki-map th.interwiki-url {
  padding-left: 3em;
}

.dialog {
  background-color: #cdf;
  color: black;
  margin: 2em auto 2em auto;
  border: thin black solid;
  width: 50%;
}
.dialog h1, .dialog p, .dialog div {
  text-align: center;
}
.dialog h1 {
  font-size: large;
  margin: 0.5em 0 1em 0;
}
.dialog div.message {
  background-color: white;
  color: black;
  color: black;
  margin: 0 1em;
  padding: 0.5em 0.5em;
}
.dialog p.buttons {
  margin: 1em 0 0.5em 0;
}


.clear-floats {
  clear: both;
}


/* postnuke css:*/
.gensmall{font-size:10px}
.genmed{font-size:11px}
td.cat{font-weight:bold;letter-spacing:1px;color:#000000;background: url(./images/cellpic1.png);height:27px}
/* Main table cell colours and backgrounds */
td.row1{background:#eaedf4;color:#000000}
td.row2{background:#d9e2ec;color:#000000}
td.row3{background:#cad9ea;color:#000000}
td.spacerow{background:#cad9ea;color:#000000}

/* This is the outline round the main forum tables */
.forumline{background:#ffffff;color:#000000;border:1px solid #006699}

/* Sidebar */
.box { background:#ffffff; border: 1px solid silver }
.box-title { font-family: Tahoma, Arial, Helvetica, sans-serif; font-weight: normal; /*font-size: 11pt; */ background-color: #ccc; color: black; /*font-style: menu;*/ text-align: center; border: none; padding: 2px 0 2px 0;}
.box-data { width: 160px; font-size: 9pt; font-weight: normal; border: none; }
.box-data .wiki { font-weight: normal; }
td.sidebar { border-spacing: 0px; margin: 0ex;}

/* plugin BoxRight */
div.boxright {
  width: 200px; 
  right: 10px;
  padding: 0.5em; 
  float: right; 
  border: thin solid #888888; 
  padding: 0.5em;
}

/* RssFeed */
div.rss { margin: 1em; padding: 1em; font-size: 0.9em; background-color: #eeeeee; border: thin dashed #aaa; }
div.feed { color: #333; margin: -0.5em; margin-bottom: 0em; padding: 0.3em; font-weight: bold; background-color: #f2f2f2; font-size: 1.2em; }
div.itemdesc {  padding-left: 1em; }
div.rssitem { border-top: thin dashed #aaa; }
a.rssicon { font-weight:normal; font-size:small; vertical-align:middle; }

/* SqlResult */
table.sqlresult { 
  border: 1px outset gray;
  background: white;
  margin: 0.5ex 0.5em;
  padding: 1px;
}
.sqlresult tr.evenrow { background: #eee; }
.sqlresult tr.oddrow  { background: white; }
table.sqlresult td {
  margin: 1px;
  border: 1px solid gray;
}

/**
 * TeX2png plugin
 */
img.tex { 
  border: 0ex;
  vertical-align: middle; 
}

/**
 * PhotoAlbum plugin
 */
.boldsmall {
  font-weight: bold;
  font-size: 11px;
}


.wikiwyg_toolbar {
    background: #D3D3D3;
    border: 1px outset;
    letter-spacing: 0;
    padding: 2px;
}

span.wikiwyg_control_link a {
    padding-right: 8px;
}

.wikiwyg_button {
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_button:hover {
    border: 1px outset;
}

.wikiwyg_button:active {
    border: 1px inset;
}

.wikiwyg_separator {
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    width: 9px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_selector {
    width: 70px;
}

.wikiwyg_wysiwyg table {
    border-collapse: collapse;
    margin-bottom: .2em;
}

.wikiwyg_wysiwyg table td {
    border: 1px;
    border-style: solid;
    padding: .2em;
    vertical-align: top;
}

/* Hide the elements we put in just to get around NS4 bugs. */
div.br { display: none; }

/* This makes spacings in NS4 too big. */
.toolbar, div.toolbar { margin: 0.5ex 0ex; }

/* This breaks NS4, but is necessary for IE4. */
div.wikitext { width: auto; }

/**
 * General
 */
/* for NS4 */
img { vertical-align: baseline; }
input { margin: 0.1em; }
input.numeric { text-align: right; }

/**
 * Wiki Forms
 * 
 * The div inside the wikiadmin upload form does not
 * have a class yet, so it must be referenced indirectly
 */
/* div.wikiaction, div.wikiadmin { */
div.wikiaction, form.wikiadmin div {
  border-bottom: 1px solid #d8d8e7;
  border-right:  1px solid #d8d8e7;
  border-top:  1px solid #96a2ae;
  border-left: 1px solid #96a2ae;

  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
  padding: 0.5ex 0.5em;
  /* Emulate the display behaviour of a table, to shrink it's width.
   * ie5.1Mac ignores this */
  display: table;
}

/* Add space between the input field and following buttons, but not after the last button. */
div.wikiaction input[type=text], div.wikiadmin input[type=text], form.wikiadmin input[type=file] { margin-right: 0.5em; }


/**
 * Links
  border-top:  1px solid #b2b2d1;
  border-left: 1px solid #d2d2f1;
  border-bottom: 1px solid #86929e;
  border-right:  1px solid #86929e;
 */

/* Make wikiaction links look like buttons */ 
a.wikiaction, a.wikiadmin, a.wikiunsafe,
input.wikiaction, input.wikiadmin, input.wikiunsafe, input.button {
  color: black;
/*
  border-top:  1px solid #c6d2de;
  border-left: 1px solid #c6d2de;
  border-bottom: 1px solid #494f5d;
  border-right:  1px solid #494f5d;

  padding-top:    0.15ex;
  padding-bottom: 0.25ex;
  padding-left:  .5em;
  padding-right: .5em;
*/
  border: 1px outset;
  padding: 0.05ex 0.25em 0.1ex 0.25em;
  height: auto;
  width: auto;
  /* Prevent buttons from overlapping when the toolbar is wrapped. */
  line-height: 2.6ex;
  /*margin: 2ex 0.2em;*/
}

div#navbuttons, div#signin, div#actionbuttons { line-height: 3.0ex; }

/* QuestionMark */
.wikiunknown a, .named-wikiunknown a {
  border-top:  1px solid #c6d2de;
  border-left: 1px solid #c6d2de;
  border-bottom: 1px solid #a2a2a2;
  border-right:  1px solid #a2a2a2;
  padding-left:  1px;
  padding-right: 1px;
  padding-top: 1px;
  margin-right: .15em;
}

/* Link icons */
img.linkicon { vertical-align: middle; }


/**
 * Edit Page & View Source
 */
/* color: inherit; and background: inherit; display as lime in NS4 */

/* http://www.aboutus.org/UniversalWikiEditButton */
div#actionbuttons a#btn-edit {
  background:  url('images/Edit-chalk-10g.png') bottom left no-repeat;
  background-repeat: no-repeat;
  padding-left: 20px !important;
  padding-right: 0.5em !important;
}
/* image buttons */
a.wikibutton, a.wikibutton:visited, input.wikibutton  { 
  background-color: white;
  border: 0;
}

/**
 * Diff Output
 */
.diff .prefix {
  position: relative;
  left: -1em;
}
/* deleted & added words */
.diff del, .diff ins {
  padding-left: 1px;
  padding-right: 1px;
}

/**
 * Other
 */
/* PHP Warnings */
div.errors { font-size: smaller }

/*
 * table class="boxed"
 * will put a border around the table (but not around the cells)
 *
 * table class="bordered"
 * will put a border around the table and the cells
 *
 * In both cases, the caption will be bold and centered under the table
 *
 * In both cases, the headers (th) will have a "#d8d8d8" background
 */

table.boxed, table.bordered, table.bordered th, table.bordered td {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    vertical-align: top;
}

table.boxed td, table.bordered td,
table.boxed th, table.bordered th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

table.boxed caption, table.bordered caption {
    text-align: center;
    font-weight: bold;
    caption-side: bottom;
    padding-top: 0.8em;
}

table.boxed th, table.bordered th {
    font-weight: bold;
    background-color: #d8d8d8;
}

#edit-public, h1.firstHeading-public, h1.firstHeading-rating-public {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
}

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
