div.acinputContainer
{
	position: relative;
	float: left;
	/*width: 240px;*/
	height: 20px;
	margin:0px;
	padding: 0px;
	border-width: 1px;
	border-style: solid;
/*	border-color: buttonshadow buttonhighlight buttonhighlight buttonshadow;*/
	border-color: #aaa #eee #eee #aaa;
	background-color: buttonface;
	/*overflow: show;*/
	/*box-sizing: border-box;*/
	-moz-box-sizing: border-box;
}

div.acinputContainer input
{
	position: relative;
	float: left;
	/*width: 220px;*/
	height: 100%;
	border-width: 1px;
	margin:0px;
	padding: 0px;
	clear: none;
	float: left;
	/*box-sizing: border-box;*/
	-moz-box-sizing: border-box;
}

/* this is set when the input is 'working' i.e. remote loading is in process */
div.acinputContainer input.search
{
	background-color: #b41b00;
	-moz-box-sizing: border-box;
	/*box-sizing: border-box;*/
}

div.acinputContainer input.button
{
	position: relative;
	float: left;
	font-size: 2px;
	width:18px; 
	height: 100%;
	border-width: 1px; 
	background-image:url( ../i/arrowdown.gif ); 
	background-repeat: no-repeat; 
	background-position: 2px 2px;
	-moz-box-sizing: border-box;
	/*box-sizing: border-box;*/
}

input.dropdown
{
	/*width: 160px;*/
	border: 1px solid #AAAAAA;
	border-color: #888 #aaa #aaa #888;
	margin-bottom: 2px;
	-moz-box-sizing		: border-box;
}

div.autocomplete_holder
{
	position: absolute;
/*width:160px;*/
font-size: 95%;
	visibility: hidden;
	background-color: #fff;
	/*background-image: url( ../i/bg.gif );*/
	-moz-box-sizing		: border-box;
}

div.autocomplete_firstborder
{
	border-width: 1px;
	border-style: solid;
	border-color: buttonshadow;
	/*border-color: buttonshadow buttonhighlight buttonhighlight buttonshadow;*/
	padding: 0px;
        margin-left: 3px;
        margin-bottom: 5px;
	-moz-box-sizing		: border-box;
}

div.autocomplete_secondborder
{
	border-style: none;
	padding: 2px;
	-moz-box-sizing		: border-box;
}

ul.autocomplete
{
	width				: 100%;
	height 				: 95px;
	overflow-y			: auto;
	overflow			: -moz-scrollbars-vertical;

	font				: menu;
	
	margin				: 0px;
	margin-left			: 0px;
	padding-left		: 0px;
	text-indent			: 0px;

	list-style-type		: none;
	vertical-align		: middle;
	
	background-repeat   : no-repeat;
	-moz-box-sizing		: border-box;
}

ul.autocomplete li a, ul.autocomplete li a:hover,
ul.autocomplete li a.selected, ul.autocomplete li a:hover.selected
{
	display				: block;
	width				: 100%;
	padding				: 2px;
	text-decoration		: none;
	color				: #333;
	border				: 1px solid #fff;
	-moz-box-sizing		: border-box;

	margin-left			: -14px;
	voice-family		: "\"}\"";
	voice-family		: inherit;
	margin-left			: 0px;
}

ul.autocomplete li
{
	padding				: 0px;
	padding-left		: 5px;
	background-position : 2px 0px;
	background-repeat	: no-repeat;

	line-height			: 13px;
	vertical-align		: top;
	margin				: 0px;
	/*border-style		: none;*/
	-moz-box-sizing		: border-box;
}

ul.autocomplete li a
{
}

ul.autocomplete li a:hover
{
	color: highlighttext;
	background-color: highlight;
	border-color: #e0e0e0;
}

ul.autocomplete li a.selected
{
	border				: 1px solid #444;
	/*
	background-color	: #fcbdb6;
	color				: #fff;
	background-color	: #0d94df;
	*/
	color				: #fff;

	background-color: /*#f00;*/ #004ba6;
/*	background-image: url( ../i/conf.gif );
	background-position: center right;
	background-repeat: no-repeat;
*/
}

ul.autocomplete li a:hover.selected
{
	border				: 1px solid #e0e0e0;
	color				: white;
	background-color	: /*#f00;*/ #004ba6;
	background-image: none;
}
