<?php // -*-html-*-
rcs_id('$Id: top.tmpl 6204 2008-08-26 15:12:03Z vargenau $');

global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<!-- The logo -->
<table summary="logo"
       width="100%" cellpadding="0" cellspacing="0" border="0">
 <tr valign="middle">
  <td><div id="logo"><a href="<?=WikiURL(HOME_PAGE)?>"><?=WIKI_NAME?></a></div></td>
  <td><div id="signin"><?= Template('signin')  ?></div></td>
 </tr>
</table>
<?php } ?>
