/*******************************/
/***  ViewCVS CSS Stylesheet ***/
/*******************************/

/*** Standard Tags ***/
html, body {
  color: #000000;
  background-color: #ffffff;
}

a:link    { color: #0000ff; }
a:visited { color: #880088; }
a:active  { color: #0000ff; }


/** Navigation Headers ***/
.vc_navheader {
  background-color: #8888ff;
}


/*** Table Headers ***/
.vc_header {
  text-align: left;
  background-color: #cccccc;
}
.vc_header_sort {
  text-align: left;
  background-color: #88ff88;
}


/*** Table Rows ***/
.vc_row_even {
  background-color: #ffffff;
}
.vc_row_odd {
  background-color: #ccccee;
}


/*** Log messages ***/
.vc_log {
  /* unfortunately, white-space: pre-wrap isn't widely supported ... */
  white-space: -moz-pre-wrap; /* Mozilla based browsers */
  white-space: -pre-wrap;     /* Opera 4 - 6 */
  white-space: -o-pre-wrap;   /* Opera >= 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}


/*** Markup Summary Header ***/
.vc_summary {
  background-color: #eeeeee;
}


/*** Diff Styles ***/
.vc_diff_header {
  background-color: #ffffff;
}
.vc_diff_chunk_header {
  background-color: #99cccc;
}
.vc_diff_chunk_extra {
  font-size: smaller;
}
.vc_diff_empty {
  background-color: #cccccc;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_add {
  background-color: #aaffaa;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_remove {
  background-color: #ffaaaa;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_change {
  background-color: #ffff77;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_change_empty {
  background-color: #eeee77;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_nochange {
  font-family: sans-serif;
  font-size: smaller;
}
.vc_raw_diff {
  background-color: #cccccc;
  font-size: smaller;
}

/*** Annotate Styles ***/
.vc_blame_line, .vc_blame_author, .vc_blame_rev {
  font-family: monospace;
  text-align: right;
  white-space: nowrap;
  padding-right: 0.5em;
}
.vc_blame_text {
  font-family: monospace;
  text-align: left;
  white-space: pre;
  width: 100%;
}

/*** Query Form ***/
.vc_query_form {
  background-color: #e6e6e6;
}
