/**
 *15 dec 2003
 *css cree pour le site http://www.crao.net
 *L Lunati
 *
 */

/*
 ******************************
 *****GENERIK
 ******************************
 */

body {
  background-color: #ccc;/* MODIFY-color */
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12px ;
  line-height: 14px ;
  margin: 0em;
  padding: 0px;
  border: 0px none ;
  color: #000;
  text-align: left;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-spacing: 0px;
  /* For Mozilla */
  empty-cells: show;
}
a:link, a {/* MODIFY-TXT */
	color: #33c; 
	text-decoration: underline; 
	background-color: transparent;
}
a:visited {/* MODIFY-TXT */
	color: #33c;
	text-decoration: underline;
	background-color: transparent;
}
a:hover {/* MODIFY-TXT */
	color: #03f;
	text-decoration:underline;
	background-color: transparent;
}
a.wiki, a.wikiadmin, a.named-wiki {
}
hr { 
	background-color: #ccc;/* MODIFY-color */
	height: 1px;
	border: 1px solid #ccc;	/* MODIFY-color */
}
div.wikitext pre { font-family: monospace; }
p {	
	font-size: 1em;
	margin: 0em;
	margin-bottom: 1em;
}


/*
 ******************************
 *****LISTES
 ******************************
 */
ul{
	position: relative;
	padding : 0px;
	margin: 0em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 100%;
	line-height: 120%;
	list-style: inside;
	background-color: transparent;
}
ul ul{
	position:  relative;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 100%;
	margin-left: 2em;
}

li.rc-major {
	list-style: none;
	display: block; 
	background-color: #fff;/* MODIFY-color */
	margin: 6px 0px;
	border: 1px #666 dashed;/* MODIFY-color */
	padding:0.5ex;
}
		
li.evenrow{
 border: 0px;
 padding:1ex;
}
li.oddrow{
 border: 0px;
 padding:1ex;
}
li strong{
  font-weight: normal;
  background-color: transparent;
}

strong.wiki-summary{
 display: block;
 padding:5px 0px;
  background-color: transparent;
}

li a.wiki-rc-action{
 display:inline;
 }
li a.wiki-rc-action {
 border: 0px ;
/*border-left: 1.2em solid #FC0;*/
/*la puce de dernieres modifs*/
}
li.rc-major a.wiki {
  font-size:  1.2em;
  font-weight: bold;
}
li>p {
 display: inline;
}
p.wiki-rc-action
{
	text-align: center;
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
	border: 1px #000 solid;
	background-color: transparent;
}

p a.wiki-rc-action
{
	display: inline;
	padding:0px 10px;
	font-weight: bold;
	background-color: transparent;
}



/*
 ******************************
 *****HEADER
 ******************************
 */
#header {
	background-color: #333;/* MODIFY-color */
}
#logo {/* MODIFY-TXT */
	color:  #ccc;
	display: inline;
	margin-top: 0px;
	margin-left: 0px;
	height: 50px;
	width:auto;
	background-color: transparent;
	font: bolder 67px/50px  Verdana, Arial, Helvetica, sans-serif;
        letter-spacing: -0.1em;
        /* font-variant: condensed; */
}
#logo img {
	border: 0px; 
}
#logo a {
	color:  #ccc;
	font: bolder 67px/50px  Arial, Verdana, Helvetica, sans-serif;
  	text-decoration: none;
}

/*
 ******************************
 *****ACTION-BUTTONS
 ******************************
 with special IE fix
 */

div.ie-actionbuttons {
        position: relative/*absolute*/;
  /*max-width: 30%;*/ height: 22px;
	right: 0; bottom: 0;
	margin: 0px;
        background: transparent url(images/BG.png) no-repeat top right;
	text-align: right;
	vertical-align: bottom;
	padding-left: 2em;
	padding-right: 1em;
	padding-top: 0.5ex;
	padding-bottom: 0.5ex;
	border: 0px none;
}

/* body>div#actionbuttons { position: fixed; } */
#actionbuttons {
	position: fixed;
/*	position: absolute; */
 	max-width: 30%; height: 22px;
	right: 0px; bottom: 0px;
	margin: 0px;
	background: transparent url(images/BG.png) top left;/* MODIFY-IMG */
	vertical-align: bottom;
	padding-left: 2em;
	padding-right: 1em;
	padding-top: 0.5ex;
	padding-bottom: 0.5ex;
	border: 0px none;
}
#actionbuttons div { }
#actionbuttons a, #actionbuttons a:link {
	position: relative;
	display: inline;
	text-align: right;
	width: 100%;
	margin-bottom: 0.5em;
	margin-top: auto;
 	background-color:transparent;
 	border: 0px;
}

/*
 ******************************
 *****CONTENT-ZONE
 ******************************
 */
#content {	
	margin-top:    0px;
	margin-left:7%;
	margin-right: 7%;
	margin-bottom:7%;
	background-color: #f2f2f2;/* MODIFY-color */
	/* Netscape 4 requires this 1px border.
     Without it, the paper borders below cause
     the white background to disappear. */
	border: 1px #999 solid;/* MODIFY-color */
	padding-left: 2em; 
	padding-right: 15px;
	padding-top:   15px;
	padding-bottom: 0.5ex;
	/*This breaks Netscape 4: (display does not go 	full width).
	 * width: auto;
	 */
	
}
/* titre */
div.boxtitrehead {}
div.boxtitrehead a.backlinks {}
div.wikitext {
	font-size: 1em;
	line-height: 130%;
	text-align: left;
}
blockquote.mail-style-quote {
	border-left: #FF9933;/* MODIFY-color */
	margin: 0em;
	margin-bottom: 1em;
	border: 1px solid #FF9933;/* MODIFY-color */
	padding: 0.5em;
}
.mail-style-quote blockquote.mail-style-quote {
	margin-left: 0.3em;
	margin-bottom : 0em;
	background: transparent;
	border-style: none;
	border-left: 2px solid #FF9933;/* MODIFY-color */
	padding: 0em;
	padding-left: 0.5em;
}
blockquote p {
	margin-top:  0.5ex;
	margin-bottom: 0.5ex;
}

/*
 ******************************
 *****NAVBAR
 ******************************
 */
.toolbar, input.button, #signin { font-family:Verdana, Arial, Helvetica, sans-serif; }

div.toolbar{
  display:block;
  background-color:#f2f2f2;/* MODIFY-color */
  border: 1px #666 solid;/* MODIFY-color */
  margin: 2% 7%;
}
.toolbar {
  padding: 0;
  margin:  0;
}
.edit-toolbar {
  padding: 0;
  margin:  0;
}
.edit-toolbar img, .edit-toolbar input {
  background-color: #fff;
  border: 1px solid ButtonFace;
}

#navbuttons {
	display: inline;
}
#navbuttons img{
	margin:5px 0px 5px 10px;
}
#navbuttons a:link, #navbuttons a{/* MODIFY-TXT */
	font-weight: bold;
	padding-left: 1ex;
	padding-right: 1ex;
	color:#333;
}
#navbuttons a:visited{}
#navbuttons a:hover{}

/*
 ******************************
 *****SIGNIN
 ******************************
 */
#signin{/* MODIFY-TXT */
	width:  auto;
	text-align: right;
	padding-right: 10px;
	background-color:transparent;
	color:#ccc;
	font-size:12px;
}
#signin form{/* MODIFY-TXT */
	text-align:  center;
	padding: 1px;
	margin: 0px;
	display: inline;
}	
#signin input{/* MODIFY-TXT */
	padding: 0px;
	padding-left: 3px;
	margin: 0px;
	font-family:  Verdana, Arial,  Helvetica, sans-serif ;
	color:#333;
	font-size: 12px;
}
#signin input.wikisignin{
	padding: 0px;
	margin: 0px;
	border: 0px none;
}

#signin a.wiki{/* MODIFY-TXT */
	color:#FFF;
	background-color: transparent;
}

/*
 ******************************
 *****SEARCH
 ******************************
 */
#search {
	font-size: 12px;
	margin: 5px 10px 5px 10px;
	/*padding-right: 10px;*/
	float: right;
}
#search form{
	text-align:  center;
	padding: 1px;
	margin: 0px;
	display: inline;
}
#search input{
	padding: 0px;
	padding-left: 3px;
	margin: 0px;
	font-family:  Verdana, Arial,  Helvetica, sans-serif;
	color: #333;
	font-size: 12px; 
}
#search input.wikiaction{
	padding: 0px;
	margin: 0px;
	border: 0px none;
}
.search-context { background: white; font-style: oblique; }
.search-term {
  background: yellow;
  font-weight: normal;
}
#livesearch {
  height: 13px;
  width: 100px;
}
#LSResult {
  position: absolute;
  text-align: left;
  display: none;
  z-index: 100;
  background-color: white;
  border: 1px solid #d0d0d0; 
  font-size: 9px;
  overflow: hidden;
}
#LSHighlight {
  background-color: #f08000;
}
#LSResult .evenrow {
  background-color: #f0f0f0;
} 
#LSREsult .oddrow {
} 
.LSEnd {
  text-align: right;
}
.LSRow:hover {
  background-color: white;
}
.LSRow {
  padding: 1px;
} 
ul.LSRes {
  margin: 0px;
  padding: 0px;
}
li.LSRow {
  margin: 0px;
  list-style-image: none;
}

/*
 ******************************
 *****NEWS
 ******************************
 */
#news{
}



/*
 ******************************
 *****MOZ-SIDEBAR
 ******************************
 */
body.sidebar {
  font-size: smaller;
  margin: 0.5em;
}
body.sidebar div.wikitext {
  padding: 0.5em;
}
body.sidebar  { padding-left: 1em; }
body.sidebar h2 { margin-top: 0; }



/*
 ******************************
 *****WIKI-FORM
 ******************************
 */

/**
 * The div inside the wikiadmin upload form does not
 * have a class yet, so it must be referenced indirectly
 */
/*div.wikiaction { background-color: #f2f2f2; }*/
 /*div.wikiadmin { background-color: #fee; } */
form.wikiadmin div { color: #000; background-color: #f2f2f2; }
div.wikiaction, form.wikiadmin div {
}
/* Prevent buttons from overlapping when the toolbar is wrapped. */
a.wikiaction, a.wikiadmin { line-height: 2.6ex; }

/* Add space between the input field and following buttons, but not after the last button. */
div.wikiaction input[type=text], div.wikiadmin input[type=text], form.wikiadmin input[type=file] { margin-right: 0.5em; }



/*
 ******************************
 *****LINK-ICON
 ******************************
 */

/* Link icons */
img.linkicon { vertical-align: middle; }
img.rssicon  { vertical-align: baseline; }



/*
 ******************************
 *****ADMIN-ACTION
 ******************************
 */
a.wikiaction, a.wikiadmin, a.wiki-rc-action, a.wikiunsafe {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.wikiunsafe {
	color: #000; 
	background-color: #f2f2f2;/* MODIFY-color */
}

input.wikiadmin  {color: #000; background-color: #fff; }

/*
 ******************************
 *****DIVERS-LINK
 ******************************
 */

/* Unknown links */
.wikiunknown, .named-wikiunknown {
	font-weight: normal;
	font-size: 100%;
	background-color: transparent;
}
 /* QuestionMark #600 */
.wikiunknown a, .named-wikiunknown a {
 	color: #FFFFFF;
  	background-color: #000000;/* MODIFY-color */
  	text-decoration: none;
  	font-weight: normal;
  	font-size: 1em;
  	padding:  1px;
  	padding-top: 0px;
  	padding-bottom: 0px;
  	border-top: 1px solid #000000;
  	border-bottom: 1px solid #000000;
  	margin-right: 2px;
}

/* Backlinks */
.backlinks {
	text-decoration: underline;
	background-color: transparent;
	color: #006;
}


/* Interwiki links */
.wikipage  { font-weight: bold; }
.interwiki { text-decoration: none; }
.interwiki, i.interwiki .wikipage, em .interwiki .wikipage { font-style: oblique; }
.interwiki .wikipage, i .interwiki, em .interwiki { font-style: normal; }



/*
 ******************************
 *****HEADING
 ******************************
 */
h1, h2, h3, h4, h5, h6 { font-family: Arial, Helvetica, sans-serif; }

h1 { /* MODIFY-TXT */
	margin-top:   10px;
	  background-color: transparent;
 		color: #555; 
 }

h1 a.backlinks{ /* MODIFY-TXT */
	color: #777; 
	text-decoration:none;
}
h1 a.wiki{ /* MODIFY-TXT */
	color: #777; 
	text-decoration:none;
}
h1 a.pagetitle{ /* MODIFY-TXT */
	color: #555; 
	text-decoration:none;
}
h1 a:hover{ /* MODIFY-TXT */
	color: #888; 
	text-decoration:underline;
}
h4, h5, h6 {  /* MODIFY-TXT */
	margin-bottom:   0px;
	  background-color: transparent;
 		color: #111; 
 }


/*
 ******************************
 *****RSS
 ******************************
 */

/* rss feed */

div.rss {
	background-color: #fff;
	color:#000;
	border: 2px solid #ddd;
}


div.feed {
	font-size: 1.4em;
	padding: 0.5em;
}
.chandesc {
	font-size: 0.9em;
}

div.rssitem {
	display: block;
	background-color: #fff;
	color:#000;
	border-top: 1px solid #ddd;
	padding: 0em 0.5em;
	
}

div.itemname {
	display: block;
	border: 0px;
	margin-top: 0.5em;
}
div.itemdesc {
	font-size: 1em;
	margin-bottom: 0.5em;
}



/*
 ******************************
 *****TABLES
 ******************************
 */
table, td { font-family: Verdana, Arial, Helvetica, sans-serif; }
caption { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: auto;
}
.pagelist {
	background-color: white;/* MODIFY-color */
	border:1px #333 dashed;/* MODIFY-color */

}
.pagelist thead, .pagelist thead u {}
.pagelist tr.evenrow { background-color: white ;}
.pagelist tr.oddrow  { background-color: white; }
.pagelist td { padding:3px; }
th.gridbutton {
  background-color: threedlightshadow;
  color: black;
  font-size: small;
  font-weight: normal;
  /*font-style: menu;*/
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  height: 18px;
  margin: 5px 0px;
  float: none;
  white-space: nowrap;
  max-height: 24px;
  padding: 5px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: threedhighlight threeddarkshadow threeddarkshadow threedhighlight;
}
input.gridbutton, a.gridbutton, a:hover.gridbutton, a:visited.gridbutton {
  text-decoration: none;
  font-size: small;
  font-weight: normal;
  /*font-style: menu;*/
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background-color: threedlightshadow;
  color: black;
}

.wikilink{
	display:block;
}

#revision{
	font-size:10px;
	text-align:right;
	background-color: #f2f2f2;/* MODIFY-color */
	/* "paper" borders */
	padding-left: 2em; 
	padding-right: 1em;
	padding-top:    0.5ex;
	padding-bottom: 0.5ex;
	/*This breaks Netscape 4: (display does not go full width).
	 * width: auto;
	 */
	clear: both;
}

.editdate {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 0.25ex;
}
#xhtml-validator
{
	font-size: small;
	text-align: center;
	margin-top: 1em;
}


/*
 ******************************
 *****EDIT-PAGE
 ******************************
 */
form { margin: 0; }
input, textarea { 
	margin: 0.1em; 
	background-color: #FFF;
	vertical-align: middle;
	font-size: 1em;
}
input.wikisignin{
	border: 0px none;
	background-color:#FFF;
}
input.wikiaction{
	border: 1px solid black;
	background-color:#D7FA8C;
}
input.numeric { text-align: center; }
/* Make the textarea the full page width */
textarea.wikiedit {
	width: 90%;
	margin: 0.5ex;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#editarea-size {
	margin-top: 1ex;
	margin-bottom: -1ex;
	text-align: right;
	font-size: smaller;
	border: 1px none;
}
#editarea-size legend{
	text-align: right;
	font-size: smaller;
	border: 1px solid #CCC;
	background-color: #ccc;
}
.editarea legend{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1em;
	padding: 0.2em;
	border: 1px solid #333;
	background-color: #eee;
}
fieldset.editarea {
	margin : 1ex;
	margin-top: 1em;
	text-align: center;
	padding : 10px;
	border: 1px solid #333;
	background-color: #E8E8E5;
}
fieldset.toolbar {
	margin : 1ex;
	margin-top: 0em;
	text-align: center;
	padding : 3px;
	border: 1px solid #FFF;
	background-color: #FFF;
}

/*
 ******************************
 *****INCLUDE-PAGE
 ******************************
 */

/* IncludePage plugin */
.transclusion-title {
	text-align: right;
	font-style: oblique;
	font-size:  smaller;
	text-decoration: underline;
	margin-bottom: 0.25ex;
	margin-right:  0.25em;
} 
.transclusion, .wiki-edithelp {
	font-size: smaller;
}
.transclusion {
	border: 1px solid gray;/* MODIFY-color */
	padding-left:  0.8em; 
	padding-right: 0.8em; 
	padding-top:     0px;
	padding-bottom:  0px;
	margin-left:   0.25em;
	margin-right:  0.25em;
	margin-bottom: 0.1ex;
}
.wiki-edithelp {
	background-color: white;
	border: medium solid #fff8dc; /* MODIFY-color */
	padding-left:  0.5em;
	padding-right: 0.5em;
	padding-top:    0.75ex;
	padding-bottom: 0.75ex;
	margin-left:  0;
	margin-right: 0;
	margin-top: 1ex;
	margin-bottom: 1ex;
}
.wiki-edithelp .wiki {
	/* color: #5454ff;*/
}
.wiki-edithelp p {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	padding-left:  0.5em;
	padding-right: 0.5em;
	padding-top:    0.5ex;
	padding-bottom: 0.5ex;
	margin: 0;
}



/*
 ******************************
 *****CALENDAR
 ******************************
 */

table.cal {
	float:right;
	font-size:10px;
	border: 1px solid #333;
	background-color: #ccc;/* MODIFY-color */
	margin: 10px;
	padding: 1px;
	/* For Mozilla */
	empty-cells: hide;} 

/* cells */
table.cal td {
	text-align: right;
} 

/* Month-name header */
table.cal-header { /* MODIFY-TXT */
font-size: larger; 
background-color: #333;/* MODIFY-color */
color: #f2f2f2;}
table.cal-header tr, table.cal-header td { text-align: center; }
.cal-arrow {/* MODIFY-TXT */
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
a.cal-arrow {/* MODIFY-TXT */
	color:#fff;
}

/* Day-names header */
table.cal tbody tr .cal-dayname {  }

.cal-dayname td {
 text-align: center;
	font-size: smaller;
	text-decoration: none;
	background-color: #f2f2f2;/* MODIFY-color */
}

/* Individual days */
a.cal-hide { 
 font-size: 9px; 
text-decoration: none; }

/* Today */
 /* cell */
table.cal td.cal-today {
	margin: 1px;
	border: 1px solid #333;/* MODIFY-color */
	color: #000;
	background-color: #f2f2f2;/* MODIFY-color */
}
 /* text */
table.cal td.cal-day a.cal-day {font-size: 9px; 
text-decoration: underline; }



/*
 ******************************
 *****DIFF
 ******************************
 */

.diff .block div { position: relative; padding-left: 1.5em; } 
.diff .prefix    { position: absolute; left: 0.5em; top: 0; }
/* main box */
.diff {
color: #000;
	background-color: transparent;
	/* for NS4 */
	border: 1px solid black;
}
.diff .block {
color: #000;
	background-color: #ccc;
	padding-left: 1em;
	/* for NS4 */
	/*border: none;*/
}

/* individual blocks */
.diff .context {
color: #000;
	background-color: transparent;
	/* for NS4 */
	border: none;
}
/* + - line prefix */
.diff .block tt {
	font-weight: normal;
	font-family: monospace;
	color: black;
	background-color: transparent;
	/* for NS4 */
	margin-left: 0;
	border: none;
}
/* changed words */
.diff del, .diff ins {
	font-weight: bold;
	text-decoration: none;
}

/* blocks containing deleted or added words */
.diff .original, .diff .deleted,
.diff .final, .diff .added {
color: #000;
	background-color: white;
}
/* blocks containing deleted words */
.diff .original, .diff .deleted {
color: #000;
	background-color: #fcc;
	/* for NS4 */
	border: none;
}
/* blocks containing added words */
.diff .final, .diff .added {
color: #000;
	background-color: #cfc;
	/* for NS4 */
	border: none;
}

/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
/* deleted words */
.diff del {color: #000; background-color: #f99; }
/* added words */
.diff ins {color: #000; background-color: #9f9; }



/*
 ******************************
 *****INFO-HISTORY
 ******************************
 */
td.pageinfo { font-weight: bold; }
.pageinfo-minoredit, .pageinfo-authorid {
	font-size: smaller;
	font-style: oblique;
}



/*
 ******************************
 *****HINTS
 ******************************
 */
.hint {
	color: black;
	background-color: #eeeeee;
	font-size: smaller;
	margin-left: 5em;
	/* padding: -0.5em 0 -0.5em; */
	border: thin solid #aaaaaa;
}



/*
 ******************************
 *****CLEAR
 ******************************
 */

#clear
	{
	clear				: both;
	margin				: 0px;
	margin-top			: -7px;
	padding				: 2px;
	text-align			: center;
	color				: #000;
	background-color	: #FFF;
	border				: solid 0px;
}
/* reset post NN4 */
/*/*/
#clear
	{
	margin-top			: 0px;
}

/* */



/*
 ******************************
 *****IMG-HACK
 ******************************
 */
img.inlineimage{
	border: 0px;
	vertical-align: middle;
	margin : 0px 5px 0px 5px;
}
em > img.inlineimage{
	float: left;
	border: 0px;
	vertical-align: middle;
	margin : 5px 15px 15px 0px;
}
	
strong > img.inlineimage{
	float: right;
	border: 0px;
	vertical-align: middle;
	margin : 5px 0px 15px 15px;
}



/*
 ******************************
 *****WIKI-BLOG
 ******************************
 */

h2.wikiblog-heading {
	font-size: 2em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid gray;/* MODIFY-color */
}


/*
 ******************************
 *****OTHER
 ******************************
 */

.interwiki-map thead td { text-decoration: underline; }
.printer { display: none; }

/* PHP Warnings */
div.errors {
	color: black;
	background-color: #eee;
	margin-top:    1em;
	margin-bottom: 1em;
	padding-left:  0.8em; 
	padding-right: 0.8em; 
	padding-top:    0.8ex;
	padding-bottom: 0;
	border: medium solid red;
	clear: both;
}
.errors h4 {
	color: red;
	margin:  0;
	padding: 0;
	text-decoration: underline;
	background-color: transparent;
}
.error { font-family: monospace; }
.error ul { font-family: monospace; }

/* Debug */
.debug {
	color: black;
	background-color: transparent;
	font-family: monospace;
	font-size: smaller;
	margin: 1ex 0;
	padding: 0.5ex 0.5em;
}

/* Hide NS4 bugs hack elements. */
div.br { display: none; }

/*
 * table class="boxed"
 * will put a border around the table (but not around the cells)
 *
 * table class="bordered"
 * will put a border around the table and the cells
 *
 * In both cases, the caption will be bold and centered under the table
 *
 * In both cases, the headers (th) will have a "#d8d8d8" background
 */

table.boxed, table.bordered, table.bordered th, table.bordered td {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    vertical-align: top;
}

table.boxed td, table.bordered td,
table.boxed th, table.bordered th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

table.boxed caption, table.bordered caption {
    text-align: center;
    font-weight: bold;
    caption-side: bottom;
    padding-top: 0.8em;
}

table.boxed th, table.bordered th {
    font-weight: bold;
    background-color: #d8d8d8;
}

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * tab-width: 8
 * c-hanging-comment-ender-p: nil
 * indent-tabs-mode: nil
 * End:
 */

 
