/* Default stylesheet for gforge
This stylesheet contains all style information
removed from the code
*/


body {
        font-family:arialverdana, arial, helvetica, sans-serif;
	
        }
OL,UL,P,TR,TD,FORM {
        font-family: arialverdana,arial,helvetica,sans-serif;
        font-size:13px;
        color: #202020;
        text-decoration: none;
        font-weight: normal;
        }


FORM {
	font-family: arialverdana,arial,helvetica,sans-serif; 
	font-size: x-small
	}

TEXTAREA, INPUT, SELECT, OPTION {
	font-family: arialverdana,arial,helvetica,sans-serif; 
	font-size: x-small
	}


/* end form elements */

STRONG {font-weight: bold}

h1, h2, h3, h4, h5, h6 { 
	font-family: arialverdana,arial,helvetica,sans-serif; 
	font-weight: normal;
	padding:0;
}

H1 { 
	font-family: arialverdana,arial,helvetica,sans-serif; 
	font-size: x-large
	}
H2 { 
	font-family: arialverdana,arial,helvetica,sans-serif; 
	font-size: large
	}
H3 { 
	font-family: arialverdana,arial,helvetica,sans-serif; 
	font-size: medium
	}

H4 { 
	font-family: arialverdana,arial,helvetica,sans-serif; 
	font-size: small
	}

H5 { 
	font-family: arialverdana,arial,helvetica,sans-serif; 
	font-size: x-small
	}

H6 { 
	font-family: arialverdana,arial,helvetica,sans-serif; 
	font-size: xx-small
	}

p { 
	font-size: 13px; 
	font-family: arial, verdana ,helvetica,sans-serif; 
	COLOR: #535c5f;
	font-weight: 400;
	padding:0;}

a {
	font-size: 13px;
	font-family: arial, verdana ,helvetica,sans-serif; 

}
/* tab menu styles */
td.toptab { background-color: #E0E0E0}
td.projecttab { background-color: #ffffff}

td.footer1 { background-color: #E0E0E0}
td.footer2 { background-color: #E0E0E0}
td.footer3 { background-color: #ffffff}

td.selTab { background-color: white}
td.notSelTab { background-color: #909090}

.titlebar { 
	FONT-SIZE:13px; 
	color: #FFFFFF; 
	text-decoration: none; 
	}

.develtitle {
	FONT-SIZE: 13px; 
	COLOR: #535c5f; 
	font-family: arial, verdana, helvetica, sans-serif;
	}

/* priority styles */
.priority1 { background-color: #dadada}
.priority2 { background-color: #dacaca}
.priority3 { background-color: #dababa}
.priority4 { background-color: #daaaaa}
.priority5 { background-color: #da8a8a}


/* multiTableRow */
.multiTableRowTitle {background-color: #DAD5D7 }


/* definition for content table */
.tableheading {
	background-color:#D0D0D0; 
	text-align: center;
	font-weight: bold;
	}

.tablecontent {
	font-size: 13px;
	background-color: #eeeeee
	
	}

.tablegetmore {
	background-color: #EAEAEA
	}

/* styles for prev next up and down*/
.prev, .next, up, down {
	font-family: arial,helvetica, sans-serif; 
	font-size: small; 
	font-weight: bold;
	}

/* top */
.up {
	color: #009900
	}

.down {
	color: #CC0000
	}

/* global styles */

/* style for error messages 
   Use this style if you need to display an error, e.g:
     User does not exist
*/
.error {
	color: red; 
	font-size: medium; 
	text-align: center; 
	font-weight:  bold
	}

/* style for warning messages 
   Use this style if you need to display a warning*/

.warning {
	color: red; 
	text-decoration: none
	}

/* style for feedback  
   Use this style to tell the user that the operation he
   requested was executed successfully, e.g:
   User was successfully registered
*/
.feedback {
	color: red; 
	font-size: medium; 
	text-align: center; 
	text-decoration: none
	}

/* style for attention 
   Use this if you wish to display important messages
   within a text.
   Note that once registered, the project cannot be deleted
*/

.important {
	color: red; 
	font-weight: bold
	}


.veryimportant {
	color: red; 
	font-weight: bold; 
	font-size: large; 
	text-align: center
	}
   

/* the following style are for displaying items in different states */

.active {
	background-color: #00aa00; 
	text-decoration: none; 
	font-weight: normal
	}

.inactive {
	background-color: gray
	}

.deleted {
	background-color: blue
	}

.suspended {
	background-color: #ffaa00
	}

.pending {
	background-color: white
	}

/* the following style is used when a word or an item should be highlighted; e.g.
   selected release or words in the advanced search */

.selected {
	background-color: #FFCCFF;
	}

/* style for required fields */
.requiredfield {
	color: red; 
	font-weight: bold
	}


.altRowStyleEven { 
	background-color: #EAEAEA; 
	font-weight: normal;
	}

.altRowStyleOdd { 
	background-color: #E0E0E0; 
	font-weight: normal;
}

/* tabber, currently used for my/index.php and
   tracker/mod.php and tracker/detail.php */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #D0D0D0;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #333333; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a {
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}  
