<?php // -*-html-*- ?>
<!-- $Id: body.tmpl 6204 2008-08-26 15:12:03Z vargenau $ -->
<body<?= $WikiTheme->getMoreAttr('body') ?>>
<!-- Page title and logo -->
<h1><a class="wikilink"
       href="<?=WikiURL(HOME_PAGE)?>"
       ><img src="<?=$WikiTheme->getImageURL('logo')?>"
             border="0" alt="<?=fmt(_("%s: %s"), WIKI_NAME, HOME_PAGE) ?>"
             align="bottom" /></a> <?=$HEADER?></h1>
<?= $CONTENT ?>
<?= Template('navbar') ?>
<!-- RELATEDPAGES were here. -->

<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>

<?php if (defined('DEBUG') && DEBUG) { ?><?= Template('debug') ?><?php } ?>
</body>