/*@charset "iso-8859-1";*/
/**
 * $Id: phpwiki-printer.css 6204 2008-08-26 15:12:03Z vargenau $
 *
 * PhpWiki style sheet for the printed page:
 * Black on white only, with no toolbar commands and no link icons.
 * Styles are kept to a minimum, so the printed page will otherwise
 * appear according to your browser's default font settings.
 */

/**
 * General
 */
 
/**
 * required for Mozilla with MacOSX theme, because of
 * body {background-image: url(/finkwiki/themes/MacOSX/images/bgpaper8.png);}
 * within the html itself. It still does not suppress
 * the bg image of a small strip near the top and bottom. :/
 */
html { background: white; }

body {
  margin: 1em;
  padding: 0;
  color:  black;
  background: white;
}
div.wikitext {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 1ex;
  background: white;
}
img {
  border: 0;
  vertical-align: baseline;
}

form  { margin: 0; }
input { margin: 0.1em; }
input.numeric { text-align: right; }

table {
  border-spacing: 1px;
  /* For Mozilla */
  empty-cells: show;
}
caption {
  caption-side: top;
  text-align: left;
  margin-bottom: .5ex;
  /* Allow the caption to extend to the full page width
     Mac ie5.1 ignores this*/
  width: 100%;
}

/**
 * Render links with black text and no underlines for readability on b&w
 * printers which try to render colors as greys. (Greyscale text is often
 * difficult to read on older 300dpi lasers.)
 */
a {
  color: black;
  text-decoration: none;
}
/* Override the above to keep underlines for WikiLinks and generic urls,
   they are useful indicators on the printed page.
   (most browsers underline links by default anyway but this overrides
   any user-defined default style sheets.) */
.wiki {
  text-decoration: underline;
  font-weight: bold;
}
/* Interwiki links */
.interwiki, i.interwiki .wikipage, em .interwiki .wikipage {
  font-style: oblique;
}
.wikipage {
  text-decoration: underline;
}
.interwiki .wikipage, i .interwiki, em .interwiki {
  font-style: normal;
}

.rawurl {
  text-decoration: underline;
}

.wikiblog-form { display: none }

/**
 * Toolbars
 */
#header, #logo, #footer {
  background: white;
}
/**
 * Get rid of extra space at bottom (which may contain a bg image)
 * this br was used to clear past the xhtml validator
 * buttons which are not visible here.
 */
table + br.clear-floats { display: none; }
#navbuttons, #actionbuttons, #signin {
  display: none;
}
p.editdate {
  font-size: smaller;
  margin-top: 0;
  background: white;
}

hr.toolbar {
  display: none;
}

hr.printer {
  display: block;
  background: white;
}

/* Hide (diff) links and days buttons in RecentChanges */
.wiki-rc-action {
  display: none;
}

/**
 * Hide image borders for older browsers--newer broswers default to a zero
 * border around images anyway.
 */
img {
  vertical-align: baseline;
  border: 0 none white;
}

/* Hide other non-essential page elements. */
.linkicon {
  display: none;
}

/* Hide the rss icon (perhaps this should be left in?) */
.rssicon {
  display: none;
}

/**
 * Edit Page & View Source
 */

/* Make the textarea the full page width */
textarea.wikiedit {
  width: 100%;
  margin-bottom: 0.5ex;
  margin-top:    0.5ex;
  padding: 2px;
}

#editarea-size {
  display: none;
}

/* IncludePage plugin */
.transclusion-title {
  text-align: right;
  font-style: oblique;
  font-size:  smaller;
  text-decoration: underline;
  margin-bottom: 0.25ex;
  margin-right:  0.25em;
} 
.transclusion, .wiki-edithelp {
  font-size: smaller;
}
.transclusion {
  background: inherit;
  border: 1pt solid gray;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:     0px;
  padding-bottom:  0px;
  margin-left:   0.25em;
  margin-right:  0.25em;
  margin-bottom: 0.1ex;
}
.wiki-edithelp {
  border: 1pt solid black;
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.75ex;
  padding-bottom: 0.75ex;
  margin-left:  0;
  margin-right: 0;
  margin-top: 1ex;
  margin-bottom: 1ex;
}
.wiki-edithelp p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.5ex;
  padding-bottom: 0.5ex;
  margin: 0;
}

/**
 * Calendar plugin
 */
table.cal {
  border: thin outset gray;
  margin: 0.5ex 0.5em;
  padding: 1px;
  /* For Mozilla */
  empty-cells: hide;
} 

/* cells */
table.cal td {
  text-align: right;
} 

/* Month-name header */
table.cal-header { /* the html for this should really be in the thead */
  font-size: larger;
}
table.cal-header tr, table.cal-header td {
  text-align: center;
  background: inherit;
}

.cal-dayname td {
  text-align: center;
  font-size: smaller;
  text-decoration: underline;
}

/* Individual days */
a.cal-hide { text-decoration: none; }

/* Today */
 /* cell */
table.cal td.cal-today {
  background: inherit;
  margin: 1px;
  border: 1px solid black;
}

/**
 * Other
 */

/* Hide the w3.org validator images */
#xhtml-validator {
  display: none;
}

/* PHP Warnings */
div.errors {
  margin-top:    1em;
  margin-bottom: 1em;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:    0.8ex;
  padding-bottom: 0;
  font-size: smaller;
  border: 0.5pt solid black;
  clear: both;
/*
  display: none;
*/
}
.errors h4 {
  margin:  0;
  padding: 0;
  text-decoration: underline;
}
.error { font-family: monospace; }
.error ul { font-family: monospace; }

/* Debug */
.debug {
  /* font-family: monospace;
  margin: 1ex 0;*/
  display: none;
}


/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
