<?php // -*-html-*- ?>
<!-- $Id: viewsource.tmpl 6211 2008-08-26 16:45:07Z vargenau $ -->
<?php 
if (empty($revision)) $revision = $page->getCurrentRevision(false);
if ($page->get('locked') && !$user->isAdmin()) { ?>
  <p><strong><?=_("Note:")?></strong>
  <?=_("This page has been locked by the administrator and cannot be edited.")?>
  </p>
  <?php } ?>
<?php if (! $revision->isCurrent()) { ?>
  <p><?=_("You are viewing an old revision of this page.")?>
  <?= Button('edit', _("View the current version"), $page) ?>.
  </p>
  <?php } ?>
<!-- Dummy form else NS4 does not like the textarea -->
<form method="post" id="editcontent" 
      action="<?=$request->getPostURL()?>" accept-charset="<?=CHARSET?>">
<?php /* To clear beyond a larger logo, such as in the Hawaiian theme */ ?>
<!br clear="all" class="clear-floats" />
<textarea class="wikiedit"
name="content" 
rows="<?=$request->getPref('editHeight')?>"
cols="<?=$request->getPref('editWidth')?>"
readonly="readonly"
><?= $PAGE_SOURCE ?></textarea>
<?=$HIDDEN_INPUTS?>
</form>
