/**
 * $Id: fusionforge.css 7707 2010-09-22 14:57:42Z vargenau $
 *
 * Copyright (C) 2002-2007 $ThePhpWikiProgrammingTeam
 * Copyright (C) 2008-2009 Alcatel-Lucent
 *
 * This file is part of PhpWiki.
 *
 * PhpWiki is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * PhpWiki is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PhpWiki; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

/*
 * Standard Alcatel-Lucent disclaimer for contributing to open source
 *
 * "The Style Sheet ("Contribution") has not been tested and/or
 * validated for release as or in products, combinations with products or
 * other commercial use. Any use of the Contribution is entirely made at
 * the user's own responsibility and the user can not rely on any features,
 * functionalities or performances Alcatel-Lucent has attributed to the
 * Contribution.
 *
 * THE CONTRIBUTION BY ALCATEL-LUCENT IS PROVIDED AS IS, WITHOUT WARRANTY
 * OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, COMPLIANCE,
 * NON-INTERFERENCE AND/OR INTERWORKING WITH THE SOFTWARE TO WHICH THE
 * CONTRIBUTION HAS BEEN MADE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL
 * ALCATEL-LUCENT BE LIABLE FOR ANY DAMAGES OR OTHER LIABLITY, WHETHER IN
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 * CONTRIBUTION OR THE USE OR OTHER DEALINGS IN THE CONTRIBUTION, WHETHER
 * TOGETHER WITH THE SOFTWARE TO WHICH THE CONTRIBUTION RELATES OR ON A STAND
 * ALONE BASIS."
 */

/* Because in some cases there is a <p> in nested lists */
li p { margin:0; }

/* Hide the elements we put in just to get around NS4 bugs. */
div.br { display: none; }

/* This makes spacings in NS4 too big. */
.toolbar, div.toolbar { margin: 0.5ex 0ex; }

/* This breaks NS4, but is necessary for IE4. */
div.wikitext { width: auto; }

div.wikitext table p { margin-top: 0.3em;  margin-bottom: 0.3em;}

/**
 * General
 */
/* for NS4 */
img { vertical-align: baseline; }
input { margin: 0.1em; }
input.numeric { text-align: right; }

fieldset {
    background-color: #e0f3f7;
}

legend {
    border: 1px solid #d8d8e7;
    background-color: white;
}

/**
 * Wiki Forms
 * 
 * The div inside the wikiadmin upload form does not
 * have a class yet, so it must be referenced indirectly
 */
/* div.wikiaction, div.wikiadmin { */
div.wikiaction, form.wikiadmin div {
  border-bottom: 1px solid #d8d8e7;
  border-right:  1px solid #d8d8e7;
  border-top:  1px solid #96a2ae;
  border-left: 1px solid #96a2ae;

  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
  padding: 0.5ex 0.5em;
  /* Emulate the display behaviour of a table, to shrink it's width.
   * ie5.1Mac ignores this */
  display: table;
}

/* Add space between the input field and following buttons, but not after the last button. */
div.wikiaction input[type=text], div.wikiadmin input[type=text], form.wikiadmin input[type=file] { margin-right: 0.5em; }

div#navbuttons, div#signin, div#actionbuttons { line-height: 3.0ex; }

/* QuestionMark */
.wikiunknown a, .named-wikiunknown a {
  border-top:  1px solid #c6d2de;
  border-left: 1px solid #c6d2de;
  border-bottom: 1px solid #a2a2a2;
  border-right:  1px solid #a2a2a2;
  padding-left:  1px;
  padding-right: 1px;
  padding-top: 1px;
  margin-right: .15em;
}

/* Link icons */
img.linkicon { vertical-align: middle; }

img.inlineimage { vertical-align: middle; }

/**
 * Edit Page & View Source
 */
/* color: inherit; and background: inherit; display as lime in NS4 */

/**
 * Diff Output
 */
.diff .prefix {
  position: relative;
  left: -1em;
}
/* deleted & added words */
.diff del, .diff ins {
  padding-left: 1px;
  padding-right: 1px;
}

/**
 * General
 */ 
img { border: 0ex; }

form { margin: 0ex; }

table {
  /* For Mozilla */
  empty-cells: show;
}

caption {
  caption-side: top;
  text-align: left;
  margin-bottom: .5ex;
}

/**
 * Wiki
 */

div.wikitext pre { 
  font-family: monospace; 
  border-width: 1px;
  border-color: navy;
  border-style: dashed;
  padding: 0.5em;
}

/**
 * PageTypes
 */
/* Main wiki text box */
div.wikitext {
  margin-top:    1ex;
  margin-bottom: 0.5ex;
  background: white;
  padding-bottom: 1em;
  clear: both;
}

/* Mozilla RecentChanges Sidebar */
body.sidebar {
  margin: 0.5em;
}
body.sidebar div.wikitext {
  padding: 0.5em;
}
body.sidebar div.wikitext ul { padding-left: 1em; }
body.sidebar h2 { margin-top: 0; }

/**
 * Link styles
 */
.wiki, .named-wiki {
  /* text-decoration: none; */
  font-weight: bold;
}

/* Action buttons */
a.wikiaction, a.wiki-rc-action, a.wikiunsafe,
input.wikiaction, input.button, input.wikiadmin {
  text-decoration: none;
  /* don't wrap text buttons */
  white-space: nowrap;
}

input.wikiaction, input.button, input.wikiadmin {
  margin-right: 1em;
  margin-left: 1em;
}

.wikiunsafe { background-color: #fcc; }

/* Unknown links */
.wikiunknown, .named-wikiunknown {
  font-weight: normal;
  font-size: 100%;
}
 /* QuestionMark #600 */
.wikiunknown a, .named-wikiunknown a {
  color: #447;
  background-color: #eee;
  text-decoration: none;
  font-weight: normal;
  font-size: smaller;
}

/* Backlinks */
.backlinks {
  text-decoration: underline;
}
h1 .backlinks { text-decoration: none; color: inherit; }

h1 { font-weight: bold; }

/* Interwiki links */
.wikipage  { font-weight: normal; }
.interwiki, i.interwiki .wikipage, em .interwiki .wikipage { font-style: oblique; }
.interwiki .wikipage, i .interwiki, em .interwiki { font-style: normal; }

/**
 * Table of content
 */
div.toc {
    border: 1px solid #aaaaaa;
    background-color: #f9f9f9;
    padding: 5px;
}

div.toc ul { list-style: none }

div.toc p.toctitle { font-weight: bold; font-size: 1.6em; margin-bottom: 1ex; }
div.toc p { margin: 0; }

.toclist a { text-decoration: none; }

/**
 * headings
 */
div.toc p.toctitle, h2, h3, h4, h5, h6 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
        padding-top: .5em;
        padding-bottom: .17em;
        border-bottom: 1px solid #aaaaaa;
}

h1, h1 .backlinks, h2, .wikitext h2 a, h3, .wikitext h3 a, h4, .wikitext h4 a, h5, h6 {
    text-decoration: none;
}

/**
 * Tables
 */
.pagelist thead th {
  background: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
}
.pagelist thead td u { text-decoration: none; }
.pagelist tr { vertical-align: top; }
.pagelist tr.evenrow { background: #eee; }
.pagelist tr.oddrow  { background: white; }
th.gridbutton {
  background-color: #d8d8d8;
  color: #565c5e;
  font-weight: bold;
  white-space: nowrap;
  margin: 5px 0px;
  max-height: 24px;
  padding: 5px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
input.gridbutton, a.gridbutton, a:hover.gridbutton, a:visited.gridbutton {
  text-decoration: none;
  color: #565c5e;
}

/**
 * Toolbar
 */
.toolbar, input.button, #signin { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}

.toolbar {
  padding: 0;
  margin:  0;
}
.toolbar li {
  margin-left: -20px; /* Because there is no list symbol */
  list-style-type: none;
  font-weight: bold;
}
.toolbar a {
  text-decoration: none;
}

.edit-toolbar {
  padding: 0;
  margin:  0;
}
.edit-toolbar img, .edit-toolbar input {
  background-color: #fff;
  border: 1px solid ButtonFace;
}

.tooltitle {
	font-weight: bold ;
}

#navbuttons, #actionbuttons {
  white-space: nowrap;
}

#navbuttons .named-wiki,
#actionbuttons .named-wiki,
#navbuttons .wikiaction,
#actionbuttons .wikiaction,
#navbuttons .wikiadmin,
#actionbuttons .wikiadmin {
  font-weight: normal;
  color: #565c5e; /* Alcatel-Lucent grey */
}

#navbuttons .named-wiki:hover,
#actionbuttons .named-wiki:hover,
#navbuttons .wikiaction:hover,
#actionbuttons .wikiaction:hover,
#navbuttons .wikiadmin:hover,
#actionbuttons .wikiadmin:hover {
  text-decoration: underline;
}

#actionbuttons td {
    border: 1px solid #aaaaaa;
    border-bottom: none;
    border-collapse: collapse;
    padding-left:0.8em;
    padding-right:0.8em;
}

#actionbuttons td.spacer {
    width:10px;
    border:none;
    padding-left:0;
    padding-right:0;
}

#actionbuttons td.bold a {
    font-weight: bold;
}

.editdate {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 0.5ex;
  border-top: 1px #aaaaaa solid;
}

#logo img {
  float: right;
  border: 1px black solid;
  /* "paper" borders */
  border-top:  1px #e8e6df solid;
  border-left: 1px #e8e6df solid;
  border-bottom: 1px #d2d2d2 solid;
  border-right:  1px #b2b2b2 solid;
}

/**
 * Edit Page & View Source
 */

/* Make the textarea the full page width */
textarea.wikiedit {
  width: 100%;
  margin-bottom: 0.5ex;
  margin-top:    0.5ex;
  padding: 2px;
}

#editarea-size {
  margin-top: 1ex;
  text-align: right;
  font-size: smaller;
}
#search-replace {
  margin-top: 1ex;
  text-align: left;
  font-size: smaller;
}
#toolbar { padding:0px; }

/**
 * Search Results
 */
.search-context { background: white; }
.search-term {
  background: yellow;
  font-weight: normal;
}
#LSResult {
  position: absolute;
  text-align: left;
  display: none;
  z-index: 100;
  background-color: white;
  border: 1px solid #d0d0d0; 
  font-size: 9px;
  overflow: hidden;
}
#LSHighlight {
  background-color: #f08000;
}
#LSResult .evenrow {
  background-color: #f0f0f0;
} 
#LSREsult .oddrow {
} 
.LSEnd {
  text-align: right;
}
.LSRow:hover {
  background-color: white;
}
.LSRow {
  padding: 1px;
} 
ul.LSRes {
  margin: 0px;
  padding: 0px;
}
li.LSRow {
  margin: 0px;
  list-style-image: none;
}

/* PageTrail plugin */
.pagetrail {
     background-color: #FFFF99;
     padding: 0.2em;
}

/* IncludePage plugin */
.transclusion-title {
  text-align: right;
  font-style: oblique;
  font-size:  smaller;
  text-decoration: underline;
  margin-bottom: 0.25ex;
  margin-right:  0.25em;
} 
.transclusion, .wiki-edithelp {
  font-size: smaller;
}
.transclusion {
  border: 1px solid gray;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:     0px;
  padding-bottom:  0px;
  margin-left:   0.25em;
  margin-right:  0.25em;
  margin-bottom: 0.1ex;
}
.wiki-edithelp {
  background: white;
  border: medium solid #fff8dc; /* darker ivory */
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.75ex;
  padding-bottom: 0.75ex;
  margin-left:  0;
  margin-right: 0;
  margin-top: 1ex;
  margin-bottom: 1ex;
}
.wiki-edithelp p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.5ex;
  padding-bottom: 0.5ex;
  margin: 0;
}

/**
 * Calendar plugin
 */
table.cal {
  border: 1px outset gray;
  background: white;
  margin: 0.5ex 0.5em;
  padding: 1px;
  /* For Mozilla */
  empty-cells: hide;
} 

/* cells */
table.cal td {
  background: white;
  text-align: right;
} 

/* Month-name header */
table.cal-header { font-size: larger; }
table.cal-header tr, table.cal-header td { text-align: center; }
.cal-arrow {
  font-weight: bold;
  text-decoration: none;
}

/* Day-names header */
table.cal tbody tr .cal-dayname {  }
.cal-dayname td {
  text-align: center;
  font-size: smaller;
  text-decoration: underline;
}

/* Individual days */
a.cal-hide { text-decoration: none; }

/* Today */
 /* cell */
table.cal td.cal-today {
  margin: 1px;
  border: 1px solid gray;
}
 /* text */
table.cal td.cal-today a.cal-hide {  }

/**
 * Diff Output
 */
/* main box */
.diff {
  margin-top:    1ex;
  margin-bottom: 0.5ex;
  background: white;
  border: 1px #ccc solid;
  color: black;
  border-top: 1px solid #494f5d;
  border-left:  1px solid #494f5d;
  border-bottom:  1px solid #c6d2de;
  border-right: 1px solid #c6d2de;
  padding-top:    1px;
  padding-bottom: 1px;
  padding-left:  .125em;
  padding-right: .125em;
  padding: 0;
  clear: both;
}
.diff .block {
  background: #ddd;
  padding-left: 1em;
}

/* individual blocks */
.diff .context {
  background: white;
  /* for NS4 */
  border: none;
}
/* entire difftextblock */
.difftext {
  margin-top:    0;
  margin-bottom: 0;
  background: white;
  border: 1px black solid;
  border-top:  1px #e8e6df solid;
  border-left: 1px #e8e6df solid;
  border-bottom: 1px #d2d2d2 solid;
  border-right:  1px #b2b2b2 solid;
  padding-left:  0em; 
  padding-right: 0em;
  padding-top:    0ex;
  padding-bottom: 0ex;
  clear: both;
}
/* + - line prefix */
.diff .block tt {
  font-weight: normal;
  font-family: monospace;
  color: black;
  margin-left: 0;
  border: none;
}
/* changed words */
.diff del, .diff ins {
  font-weight: bold;
  text-decoration: none;
}

/* blocks containing deleted or added words */
.diff .original, .diff .deleted,
.diff .final, .diff .added {
  background: white;
}
/* blocks containing deleted words */
.diff .original, .diff .deleted {
  background: #fcc;
  border: none;
}
/* blocks containing added words */
.diff .final, .diff .added {
  background: #cfc;
  border: none;
}

/* deleted words */
.diff del { background: #f99; }
/* added words */
.diff ins { background: #9f9; }

/**
 * PageHistory, Info
 */
td.pageinfo { font-weight: bold; }
.pageinfo-minoredit, .pageinfo-authorid {
  font-size: smaller;
  font-style: oblique;
}

div.errors {
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    background-color: #ffc0cb; /* pink */
    border-color: red;
    padding: 0.5em;
}

div.warning {
  color: black;
  background: #eee;
  margin-top:    1em;
  margin-bottom: 1em;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:    0.8ex;
  padding-bottom: 0;
  border: thin solid blue;
  clear: both;
}

/* Debug */
.debug {
  color: black;
  background: white;
  font-family: monospace;
  font-size: smaller;
  margin: 1ex 0;
  padding: 0.5ex 0.5em;
  border: medium solid #fff8dc; /* darker ivory */
}

/* Hints */
.hint {
  color: black;
  background: #eeeeee;
  font-style: italic;
  margin-left: 3em;
  padding: 0.5ex 0.5em;
  border: thin solid #aaaaaa;
}
span.hint {
  padding: 0;
}

/* Disabled Plugins */
.disabled-plugin
{
  clear: both;
  margin: 1ex 0;
  padding: 0;
}
.disabled-plugin .title {
  color: #400;
  background-color: inherit;
  font-size: x-small;
  text-align: right;
  padding: 0 0.5em;
}
.disabled-plugin pre {
  color: black;
  background: #ddd;
  margin: 0;
  padding: 0.3ex 0.5em;
}

/* "(Redirected from ...)" message. */
span.redirectfrom {
  font-size: small;
  font-style: oblique;
  font-weight: normal;
  padding-left: 1em;
}

/*
 * "DL tables"
 */
.wiki-dl-table {
  border-collapse: collapse;
  border: 2px #444 solid;
}
.wiki-dl-table tr {
  border-top: 2px #444 solid;
  border-bottom: 2px #444 solid;
  border-left: none; 
  border-right: none; 
}
.wiki-dl-table th,
.wiki-dl-table td {
  padding: 0.25em 0.5em;
}
.wiki-dl-table th {
  vertical-align: top;
  text-align: right;
  border-right: 1px #444 solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.wiki-dl-table td {
  border: none;
}

/*
 * "E-mail" style blockquote
 */
blockquote.mail-style-quote {
	margin: 0em;
	margin-bottom: 1em;
	border: 1px solid #284;
	padding: 0.5em;
} 
.mail-style-quote blockquote.mail-style-quote {
        margin-left: 0.3em;
	margin-bottom : 0em;
	background: transparent;
	border-style: none;
	border-left: medium solid #284;
	padding: 0em;
	padding-left: 0.5em;
}

/*
 * wikiblog
 */
.floatleft { float: left; }
.floatright { float: right; }

div.wikiblog {
  /* border: thin black solid; */
  margin: 1ex 2em;
  padding: 0 0;
}
div.wikiblog > div {
  margin: 0 0;
  padding: 0.5ex 0.5em;
}
div.wikiblog-header {
  /* background-color: #ccf; */
}
div.wikiblog > div.wikiblog-footer {
  /* background-color: #eee; */
  padding: 0.2ex 0.5em;
}
h3.wikiblog-summary {
  font-size: medium;
  font-weight: bold;
  margin: 0 0 1ex 0;
}

table.wikiblog-form {
  width: auto;
  border-collapse: collapse;
  margin: 0.25em 0;
}
.wikiblog-form caption {
  caption-side: top;
  font-weight: bold;
  text-align: left;
  padding: 0.5ex 0.5em;
}
.wikiblog-form th {
  vertical-align: top;
  text-align: right;
  padding: 0 0 0.3em 0.5em;
}
.wikiblog-form td {
  padding: 0.25em 0.5em;
}
.wikiblog-form td.submit-button {
  padding: 0;
}
.wikiblog-form input[type=text],
.wikiblog-form textarea {
  margin: 0 0;
  width: 100%;
}
div.wikicomment div.wikicomment-footer {
  padding: 0.2ex 0.5em;
}
div.wikicomment div.wikicomment-footer named-wiki {
  font-size: small;
}
table.interwiki-map {
  margin: 1em 2em;
}
.interwiki-map th {
  text-decoration: underline;
  text-align: left;
  padding-left: 1em;
}
.interwiki-map td.interwiki-url {
  padding-left: 2em;
}
.interwiki-map th.interwiki-url {
  padding-left: 3em;
}

.dialog {
  background-color: #cdf;
  color: black;
  margin: 2em auto 2em auto;
  border: thin black solid;
  width: 50%;
}
.dialog h1, .dialog p, .dialog div {
  text-align: center;
}
.dialog h1 {
  font-size: large;
  margin: 0.5em 0 1em 0;
}
.dialog div.message {
  background-color: white;
  color: black;
  color: black;
  margin: 0 1em;
  padding: 0.5em 0.5em;
}
.dialog p.buttons {
  margin: 1em 0 0.5em 0;
}

.clear-floats {
  clear: both;
}


/* postnuke css:*/
.gensmall{font-size:10px}
.genmed{font-size:11px}
td.cat{font-weight:bold;letter-spacing:1px;color:#000000;background: url(./images/cellpic1.png);height:27px}
/* Main table cell colours and backgrounds */
td.row1{background:#eaedf4;color:#000000}
td.row2{background:#d9e2ec;color:#000000}
td.row3{background:#cad9ea;color:#000000}
td.spacerow{background:#cad9ea;color:#000000}

/* This is the outline round the main forum tables */
.forumline{background:#ffffff;color:#000000;border:1px solid #006699}

/* Sidebar */
.box { background:#ffffff; border: 1px solid #888888 }
.box-title { font-weight: normal; background-color: #ccc; color: black; text-align: center; }
.box-data { width: 160px; font-size: 9pt; font-weight: normal; }
.box-data .wiki { font-weight: normal; }
td.sidebar { border-spacing: 0px; margin: 0ex;}

/* RssFeed */
div.rss { margin: 1em; padding: 1em; }
div.feed { margin: -0.5em; margin-bottom: 0em; padding: 0.3em;
           font-weight: bold; font-size: 1.2em; }
.chandesc { font-weight: bold; }
div.rssitem { padding-top:1em; padding-bottom: 1em;
              border-top: 2px solid #565c5e; /* Alcatel-Lucent grey */ }
div.itemname { padding-bottom: 1em; font-weight: bold; }
div.itemdesc { padding-left: 1em; }
div.authordate { font-style: italic; }
a.rssicon { font-weight:normal; font-size:small; vertical-align:middle; }

/* SqlResult */
table.sqlresult {
  border: 1px outset gray;
  background: white;
  margin: 0.5ex 0.5em;
  padding: 1px;
}
.sqlresult tr.evenrow { background: #eee; }
.sqlresult tr.oddrow  { background: white; }
table.sqlresult td {
  margin: 1px;
  border: 1px solid gray;
}

/**
 * TeX2png plugin
 */
img.tex { 
  border: 0ex;
  vertical-align: middle; 
}

/**
 * PhotoAlbum plugin
 */
.boldsmall {
  font-weight: bold;
  font-size: 11px;
}

#content {
    margin: 0;
    padding: 1em 1em 1.5em 1em;
    background: white;
    border: 1px solid #aaaaaa;
    line-height: 1.2em;
    position: relative;
    z-index: 2;
}

/* the left column width is specified in class .portlet */

#footer {
        text-align: right;
        vertical-align: bottom;
        font-style: italic;
}

/*
 * table class="boxed"
 * will put a border around the table (but not around the cells)
 *
 * table class="bordered"
 * will put a border around the table and the cells
 *
 * In both cases, the caption will be bold and centered under the table
 *
 * In both cases, the headers (th) will have a "#d8d8d8" background
 */

table.boxed, table.bordered, table.bordered th, table.bordered td {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    vertical-align: top;
}

table.boxed td, table.bordered td,
table.boxed th, table.bordered th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

table.boxed caption, table.bordered caption {
    text-align: center;
    font-weight: bold;
    caption-side: bottom;
    padding-top: 0.8em;
}

table.boxed th, table.bordered th {
    font-weight: bold;
    background-color: #d8d8d8;
}

/* plugin BoxRight */
div.boxright {
  background-color: #e9fbff;
  width: 200px; 
  right: 10px;
  padding: 0.5em; 
  float: right; 
  border: thin solid; 
  padding: 0.5em;
}

td.tdselected, td.tdunselected {
   text-align: center;
   font-weight: bold;
   padding-left: 5px;
   padding-right: 5px;
}

td.tdselected {
   color: white;
   background-color: #554295;
}

td.tdunselected {
   color: black;
   background-color: #e9e8de;
}

/* Main wiki browse banner */
.browsebanner table {
   width: 100%;
   background-color: #e9fbff;
   border-style: solid;
   border-color: blue;
   border-width: 2px;
}

.browsebanner table td {
   text-align: center;
   font-weight: bold;
   font-style: oblique;
}

.rateit {
   font-size: 60%;
   font-weight: bold;
   vertical-align: middle;
}

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
