<?php // -*-php-*-
rcs_id('$Id: signin.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
// signin only implicitly by clicking "Edit"
if (empty($FORMNAME))
    $FORMNAME = 'signin';
else
    $NOFORM = true;
?>
<?php if (empty($NOFORM)) { ?>
  <form method="post" action="<?= $request->getPostURL() ?>" accept-charset="<?=$charset?>" name="<?=$FORMNAME?>">
  <?= HiddenInputs($request->getArgs(), false, array('auth')) ?>
<?php }
if ($user->isAuthenticated()) {
    $SignOutB = $WikiTheme->makeButton(_("Sign Out"), "javascript:SignOut();", 'wikiaction');
    $SignOutJS = JavaScript('
    document.write(\'<input type="hidden" name="auth[logout]" value="0" />\');
    function SignOut() { 
      var form = document.forms["'.$FORMNAME.'"];
      form.elements["auth[logout]"].value = 1;
      form.submit();
    }
    document.write(\''.AsXML($SignOutB).'\');');
?>
  <span class="signin"><?= fmt("Authenticated as %s", WikiLink($user->getAuthenticatedId(), 'auto')) ?>
  <?=$SEP?><?=$SignOutJS?></span>
  <noscript>
    <span class="signin"><?= Button("submit:auth[logout]", _("Sign Out"), 'wikiaction') ?></span>
  </noscript>
<?php } ?>
<?php if (empty($NOFORM)) { ?>
  </form>
<?php } ?>
