<?php // -*-html-*-
  rcs_id('$Id: debug.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
?>
<?php global $RUNTIMER; ?>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td>
<div id="xhtml-validator"><a href="http://validator.w3.org/check/referer" target="_top">Valid XHTML 1.0</a>
<a href="http://jigsaw.w3.org/css-validator/check/referer" target="_top">Valid CSS</a>
</div>
</td><td>
<span class="debug"><?=fmt("Page Execution took %s seconds", $RUNTIMER->getStats())?></span>
</td></tr></table>
<?php // This keeps the valid XHTML! icons from "hanging off the bottom of the screen" ?>
<br clear="all" class="clear-floats" />
