<!-- -*-html-*- -->
<!-- $Id: editpage.tmpl 6211 2008-08-26 16:45:07Z vargenau $ -->
<?php /*
 * FIXME: Hack!
 * The funky URL used for the form action parameter is bogus.
 * This is needed, otherwise the redirect to the real browser
 * page won't work with some browsers. (NS4 and Mozilla 0.97 won't accept
 * a redirect from a page to itself.)
 *
 */ ?>

<form method="post" name="editpage"
      action="<?= $request->getPostURL() ?>"
      accept-charset="<?=CHARSET?>">
<table summary="Toolbar: Save, Preview, and edit warnings." class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0">
<tr align="bottom">
  <td>
    <?= $PAGE_LOCKED_MESSAGE ?>
    <?= $CONCURRENT_UPDATE_MESSAGE ?>
    <?php if (!$IS_CURRENT) { ?>
      <p><strong><?=_("Warning: You are editing an old revision.")?>
            <?=_("Saving this page will overwrite the current version.")?></strong></p>
    <?php } ?>
  </td>
  <td align="right">
    <?= $PREVIEW_B ?>
    <?php if ($SAVE_B) { ?>
      <?=$SEP?> <?= $SAVE_B ?>
    <?php } ?>
  </td>
</tr>
</table>
<a name="editarea" id="editarea"><?=$EDIT_TEXTAREA?></a>
<br />
<?=_("Summary")?>: <?= $SUMMARY_INPUT ?>
<br />
<?= fmt("Author will be logged as %s.", HTML::em($user->getId())) ?>
<br />
<?= $MINOR_EDIT_CB ?>
<?= fmt("I'm just doing minor edits. Please divert the usual logging to %s instead.",
        WikiLink(_("RecentEdits"))) ?>
<br />
<p>
  <?=_("Edit Area Size")?>: <b><?=_("H")?></b> <?=$HEIGHT_PREF?> 
  <b><?=_("W")?></b> <?=$WIDTH_PREF?>
  <?=Button("submit:", _("Adjust"), 'wikiaction')?>
  <br />
  <?=$OLD_MARKUP_CB?>  <?=_("Use old markup")?>
</p>

<?php if (isset($PREVIEW_CONTENT)) { ?>
  <hr />
  <p><strong><?=_("Preview only!  Changes not saved.")?></strong></p>
  <?= $PREVIEW_CONTENT ?>
  <hr />
<?php } ?>

<script language="JavaScript1.3" type="text/javascript">
<!--
function showOldMarkupRules(show) {
  if (document.getElementById) {
    if (!show) {
      document.getElementById('newMarkup').style.display="block";
      document.getElementById('oldMarkup').style.display="none";
    } else {
      document.getElementById('newMarkup').style.display="none";
      document.getElementById('oldMarkup').style.display="block";
    }
  }
}
// -->
</script>

<div id="oldMarkup" class="wiki-edithelp">
<!-- FIXME: do we need this at all?  If so, it could probably be moved to TextFormattingRules -->
<p><?= fmt("See %s tips for editing.", WikiLink(_("Help/GoodStyle"))) ?></p>
<?plugin IncludePage page=_("Help/OldTextFormattingRules") section=_("Synopsis") quiet=1?>
</div>
<div id="newMarkup" class="wiki-edithelp">
<!-- FIXME: do we need this at all?  If so, it could probably be moved to TextFormattingRules -->
<p><?= fmt("See %s tips for editing.", WikiLink(_("Help/GoodStyle"))) ?></p>
<?plugin IncludePage page=_("Help/TextFormattingRules") section=_("Synopsis") quiet=1?>
</div>
<?=$HIDDEN_INPUTS?>
</form>

<script language="JavaScript1.3" type="text/javascript">
<!--
if (document.getElementById) {
  showOldMarkupRules(document.getElementById('useOldMarkup').checked);
}
// -->
</script>

<hr />
