/*
 $Id: MacOSX.css 6470 2009-01-31 12:29:03Z vargenau $

 Classes:

 div.wikitext - the transformed wiki page text.

 a.wiki             - link to page in wiki.
 a.named-wiki       - a named link to page in wiki (from e.g. [name|WikiPage]).
 a.interwiki        - link to page in another wiki
 span.wikipage    - page name within interwiki link.
 a.named-interwiki  - link to page in another wiki
 a.url              - link to external URL from wiki page.
 a.named-url        - link to external URL from wiki page.

 .wikiunknown a, .wikiunknown u
 .named-wikiunknown a, .named-wikiunknown u

 a.wikiaction
 a.wikiadmin
 .wikiunsafe

 a.backlinks

 TODO: Get rid of tables in wikiaction forms.
 */

body { background: #fafafa url("images/bgpaper8.png"); }
body.edit { background: #fafafa url("images/bggranular.png"); }

body { }

/* Ensure identical vertical alignment for adjacent form buttons,
   whether image based (Theme buttons) or not */
input[type=submit],
input[type=cancel],
input[type=image] { vertical-align: middle }

/*
 * NS4, defaults from body don't always propagate correctly.
 * So we need this:
 */
h1, h2, h3, .toolbar, td { font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }

input.button { font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }

input.numeric {
  text-align: right;
}
.wikitext pre { font-family: Monaco, monospace; }




input[type=text] {
  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
}

/* Add space between the input field and following buttons, but not after the last button. */
div.wikiaction input[type=text],
div.wikiadmin input[type=text],
form.wikiadmin input[type=file] {
  margin-right: 0.5em;
}



/**
 * Wiki
 */
div.wikitext {
  background: white;
  /* for NS4 */
  border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0.5ex 0px;
  /* This breaks Netscape 4: (display does not go full width).
  width: auto;
  */
clear: both;
}

input.wikitext { margin:0px; }
input[type=text] {
  height: 2.7ex;
  padding: 0.4ex 0.3ex;
}

div.toolbar { margin: 1ex 0ex; }


/**
 * PageTypes
 */
.interwiki-map thead td {
  background: #e8e8e8;
  font-weight: bold;
  font-size: smaller;
}
.interwiki-map thead td:first-child { text-decoration: underline; }
.interwiki-moniker { background: #eee; }
.interwiki-url { background: #f8f8f8; }


/* Mozilla RecentChanges Sidebar */
body.sidebar {
  font-size: smaller;
  margin: 0.5em;
}
body.sidebar div.wikitext {
  padding: 0.5em;
}
body.sidebar div.wikitext ul { padding-left: 1em; }
body.sidebar h2 { margin-top: 0; }


div.errors {
  background: #eee;
  border: 1px solid gray;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.8ex;
  padding-bottom: 0;
  margin-top: 1em;
  clear: both;
  font-size: smaller;
}

.errors h4 {
  color: black;
  text-decoration: underline;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0.5ex;
}

.error {
  font-family: Monaco, monospace;
  margin: 0;
  font-size: smaller;
}
.error ul {
  font-size: smaller;
  font-family: Monaco, monospace;
}
/* Debug */
.debug {
  color: black;
  background: white;
  font-family: monospace;
  font-size: smaller;
  margin: 1ex 0;
  padding: 0.5ex 0.5em;
  border: 1px solid #eee;
}


/*
 * Style for <hr>s in wiki markup.
 */
.wikitext hr {}


/*
 * Link styles
 */
/* Wiki Links */
a.wiki { text-decoration: none; }
.wiki, .named-wiki { font-weight: bold; color:#1d42be; } /*blue*/
/* This is obscene in NS4
  b .wiki, STRONG .wiki { font-size: larger; }
 */

/* Unknown links */
.wikiunknown a, .named-wikiunknown a, .wikiunknown U { text-decoration: none; }

.wikiunknown, .named-wikiunknown {color: #555; }

/* Interwiki links */
a.interwiki { text-decoration: none; }
.wikipage   { font-weight: bold; }

.interwiki,
i .interwiki .wikipage, em .interwiki .wikipage { font-style: oblique; }

.interwiki .wikipage,
i .interwiki, em .interwiki { font-style: normal; }

/*
 * wikiaction, wikiadmin, wikiunsafe:
 */
a.wikiaction, a.wikiadmin { text-decoration: none; }

/*
 * No border on external link icons.
 */
img.linkicon, img.rssicon { border: 0px; }
img.rssicon { vertical-align: middle; }
/* This screws up NS4, moved to phpwiki-heavy.css
img.linkicon { vertical-align: middle; }
*/
img.wiki-button { vertical-align: middle; }

a.wikiaction { border: 0; }

/* backlinks */
a.backlinks { color: #006; }

/* Make the textarea on the edit page full width */
textarea.wikiedit { width: 100%; margin-top: 1ex; }

p.editdate { font-size: smaller; margin-bottom: 0; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }

/* Calendar plugin */
a.cal-hide,
a.cal-arrow { text-decoration: none; }
.cal-arrow { font-weight: bold; }
.cal-dayname {
  font-size: smaller;
  text-decoration: none;
}
table.cal {
  /* for NS4 */
  /*border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
  background: #bebebe;*/
}
table.cal td {
  background: white;
  /* for NS4 */
  border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
}
table.cal-header td {
  font-size:  larger;
  background: white;
  border: 0px;
}
table.cal td.cal-dayname { background: #e8e8e8; }
table.cal td.cal-today {
  background:    #f4f4f4;
  /* for NS4 */
  border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
}

/* IncludePage plugin */
.transclusion-title {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-style: oblique; */
  font-size: smaller; /* 0.75em; */
  text-decoration: underline;
  text-align: right;
}

div.transclusion {
  /* background: #fff url("images/bgpaper8.png"); */
  /* background: white; */
  background: #fdfdfd;
  /* for NS4 */
  border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;

  padding-left:  0.8em;
  padding-right: 0.8em;
  padding-top:    0px;
  padding-bottom: 0px;
  margin: 0.5ex ;
}

/* The transclusion of the TextEditingRules Synopsis on templates/editpage.html */
div.wiki-edithelp .transclusion {
  font-size: smaller;
  background: inherit;
  padding: 0.5ex 0.5em;
  margin: 0.2ex 5%;
}
div.wiki-edithelp .transclusion p { margin: 0; }
div.wiki-edithelp {
  /* background: #fff url("images/bgpaper8.png"); */
  background: white;
  /* for NS4 */
  border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;

  font-size: smaller;
  padding: 6pt;
}
div.wiki-message {
  background: #fff url("images/bggranular.png");
  border: solid 1px #d8d8d8;
  padding: 6pt;
}
.printer { display: none; }


/**
 * Diff Output
 */
/* main box */
.diff {
  background: white;
  /* for NS4 */
  border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
}
.diff .block {
  background: #d8d8d8;
  /* for NS4 */
  /*  border: none;*/
}

/* individual blocks */
.diff .context {
  background: white;
  /* for NS4 */
  border: none;
}
/* + - line prefix */
.diff .block tt.prefix {
  font-weight: normal;
  font-family: monospace;
  margin-left: -1.6em;
  color: black;
  /* for NS4 */
  border: none;
}
/* changed words */
.diff ins { font-weight: bolder; }
.diff ins { text-decoration: none; }

/* blocks containing deleted or added words */
.diff .original,
.diff .deleted,
.diff .final,
.diff .added {
  background: white;
}
/* blocks containing deleted words */
.diff .original:first-child,
.diff .deleted:first-child {
  border-top: 2px solid #f99; /* fcc */
}
.diff .original,
.diff .deleted {
  background: white;
  border-left: 2px solid #f99; /* fcc */
  border-right: 2px solid #f99; /* fcc */
}
.diff .original:last-child,
.diff .deleted:last-child {
  border-bottom: 2px solid #f99; /* fcc */
}
/* blocks containing added words */
.diff .final:first-child,
.diff .added:first-child {
  border-top: 2px solid #9f9; /* cfc */
}
.diff .final,
.diff .added {
  background: white;
  border-left: 2px solid #9f9; /* cfc */
  border-right: 2px solid #9f9; /* cfc */
}
.diff .final:last-child,
.diff .added:last-child {
  border-bottom: 2px solid #9f9; /* cfc */
}
/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
/* deleted words */
.diff del { background: #fcc; } /* f99 */
/* added words */
.diff ins { background: #cfc; } /* 9f9 */


/**
 * PageList output
 */
.pagelist tr.evenrow { background: #f8f8f8; }
.pagelist tr.oddrow  { background: #eee; }
.pagelist thead td {
  background: #e8e8e8;
  text-decoration: none;
  font-weight: bold;
  font-size: smaller;
}
.pagelist thead td u { text-decoration: none; }
/* Yellow highlight for every td of mouseover'd tr in pagelist tbody
   ie mac ignores all these */
/*.pagelist tbody tr:hover>td { background: #ffff99; }*/
.pagelist tbody tr:hover>td {
  border: solid #ffff99 2px;
}
/* some browsers give wacky expanding :hover cells,
   use transparent border here instead of padding change */
.pagelist tbody tr>td {
  border: solid transparent 2px;
}
th.gridbutton {
  background-color: threedlightshadow;
  color: black;
  font-family: Tahoma, sans-serif, Arial, Helvetica;
  font-size: small;
  font-weight: normal;
  /*font-style: menu;*/
  height: 18px;
  white-space: nowrap;
  max-height: 24px;
  padding: 5px 0px 5px 0px;
  margin: 5px 0px;
  float: none;
  border-width: 1px;
  border-style: solid;
  border-color: threedhighlight threeddarkshadow threeddarkshadow threedhighlight;
}
input.gridbutton, a.gridbutton, a:hover.gridbutton, a:visited.gridbutton {
  text-decoration: none;
  font-size: small;
  font-weight: normal;
  /*font-style: menu;*/
  font-family: Tahoma, sans-serif, Arial, Helvetica;
  background-color: threedlightshadow;
  color: black;
}

/**
 * Search
 */
#searchholder { display: inline; }

/**
 * Search Results
 */
.search-context { background: white; font-style: oblique; }
.search-term {
  background: #9bdaff;
  font-weight: normal;
}
#LSResult {
  position: absolute;
  text-align: left;
  display: none;
  z-index: 100;
  background-color: white;
  border: 1px solid #d0d0d0; 
  font-size: 9px;
  overflow: hidden;
}
#LSHighlight {
  background-color: #f08000;
}
#LSResult .evenrow {
  background-color: #f0f0f0;
} 
#LSREsult .oddrow {
} 
.LSEnd {
  text-align: right;
}
.LSRow:hover {
  background-color: white;
}
.LSRow {
  padding: 1px;
} 
ul.LSRes {
  margin: 0px;
  padding: 0px;
}
li.LSRow {
  margin: 0px;
  list-style-image: none;
}

.clear-floats {
  clear: both;
}

dl {
  display:table;
}
/* dotted underline each dt. use display:table to shrink width */
dt {
  display: table;
  font-weight: bold;
  vertical-align: baseline;
  margin-top: 1.25ex;
  margin-bottom: 0.25ex;
  padding-left: 0.25ex;
  padding-right: 0.25ex;
  border-bottom-style: dotted;
  border-bottom-width: 2pt;
  border-bottom-color: #9999cc;
}
/* No underlines for wiki-links in dt,
   we already have dotted underline */
dt a.wiki, dt a.named-wiki {
  text-decoration: none;
}
/* No top margin for first dt */
dl>dt:first-child {
  margin-top: 0ex;
}
/* underline each dd.
   use display:table to shrink width */
dd {
/* overflows wide text beyond containing dl */
/* in most browsers :( Would have been nice */
/*   display: table; */
  position: relative;
  margin-left: 3.5em;
  margin-bottom: 0.5ex;
  padding-left: 0.125em;
  padding-bottom: 0.5ex;
  padding-right: 0.125em;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #9999cc;
}
pre,
div.plugin code {
  color: black;
  display: block;
  background-color: #fcfcfc;
  font-size: 90%;
  line-height: 1.25em;
  margin-top: 0.25em;
  margin-left: 0em;
  margin-bottom: 2ex;
  margin-right: 0em;
  padding-top: 0.25em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
  padding-right: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}
pre {
  background: #fafafa url("images/bgpaper8.png");
}
/* Indented wrap past diff buttons in RecentChanges */
ul li.rc-major, ul li.rc-minor {
  margin-left: 0;
  padding-left: 3em;
  text-indent: -3em;
}

/* IncludePage plugin */
.transclusion-title {
  text-align: right;
  font-style: oblique;
  font-size:  smaller;
  text-decoration: underline;
  margin-bottom: 0.25ex;
  margin-right:  0.25em;
} 
.transclusion, .wiki-edithelp {
  font-size: smaller;
}
.transclusion {
  border: 1px solid gray;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:     0px;
  padding-bottom:  0px;
  margin-left:   0.25em;
  margin-right:  0.25em;
  margin-bottom: 0.1ex;
}
.wiki-edithelp {
  background: white;
  border: medium solid #fff8dc; /* darker ivory */
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.75ex;
  padding-bottom: 0.75ex;
  margin-left:  0;
  margin-right: 0;
  margin-top: 1ex;
  margin-bottom: 1ex;
}
.wiki-edithelp .wiki {
  /* color: #5454ff;*/
}
.wiki-edithelp p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.5ex;
  padding-bottom: 0.5ex;
  margin: 0;
}
/**
 * PageHistory, Info
 */
td.pageinfo { font-weight: bold; }
.pageinfo-minoredit, .pageinfo-authorid {
  font-size: smaller;
  font-style: oblique;
}


/**
 * Other
 */
.printer, .no-css { display: none; }

/* Disabled Plugins */
.disabled-plugin
{
  clear: both;
  margin: 1ex 0;
  padding: 0;
}
.disabled-plugin .title {
  color: #400;
  background-color: inherit;
  font-size: x-small;
  text-align: right;
  padding: 0 0.5em;
}
.disabled-plugin pre {
  color: black;
  background: #ddd;
  margin: 0;
  padding: 0.3ex 0.5em;
}

/* "(Redirected from ...)" message. */
span.redirectfrom {
  font-size: small;
  font-style: oblique;
  font-weight: normal;
  padding-left: 1em;
}

/*
 * "E-mail" style blockquote
 */
blockquote.mail-style-quote {
  border-left: medium #284 solid;
  padding-left: 1em;
  margin-left: 0;
  margin-right: 0;
}
.mail-style-quote blockquote.mail-style-quote {
  margin-left: -0.6em;
}


/*
 * wikiblog
 */
.floatleft { float: left; }
.floatright { float: right; }

div.wikiblog {
  /* border: thin black solid; */
  margin: 1ex 2em;
  padding: 0 0;
}
div.wikiblog > div {
  margin: 0 0;
  padding: 0.5ex 0.5em;
}
div.wikiblog-header {
  /* background-color: #ccf; */
}
div.wikiblog > div.wikiblog-footer {
  /* background-color: #eee; */
  padding: 0.2ex 0.5em;
}
h3.wikiblog-summary {
  font-size: medium;
  font-weight: bold;
  margin: 0 0 1ex 0;
}

div.wikiblog.wikiblog-form {
  /* background-color: #eee; */
}

table.wikiblog-form {
  width: auto;
  border-collapse: collapse;
  margin: 0.25em 0;
}
.wikiblog-form caption {
  /* background-color: #ccf; */
  caption-side: top;
  font-weight: bold;
  text-align: left;
  padding: 0.5ex 0.5em;
}
.wikiblog-form th {
  vertical-align: top;
  text-align: right;
  padding: 0 0 0.3em 0.5em;
}
.wikiblog-form td {
  padding: 0.25em 0.5em;
}
.wikiblog-form td.submit-button {
  padding: 0;
}
.wikiblog-form input[type=text],
.wikiblog-form textarea {
  margin: 0 0;
  width: 100%;
}
div.wikicomment div.wikicomment-footer {
  padding: 0.2ex 0.5em;
}
div.wikicomment div.wikicomment-footer named-wiki {
  font-size: small;
}
table.interwiki-map {
  margin: 1em 2em;
}
.interwiki-map th {
  text-decoration: underline;
  text-align: left;
  padding-left: 1em;
}
.interwiki-map td.interwiki-url {
  padding-left: 2em;
}
.interwiki-map th.interwiki-url {
  padding-left: 3em;
}

.dialog {
  background-color: #cdf;
  color: black;
  margin: 2em auto 2em auto;
  border: thin black solid;
  width: 50%;
}
.dialog h1, .dialog p, .dialog div {
  text-align: center;
}
.dialog h1 {
  font-size: large;
  margin: 0.5em 0 1em 0;
}
.dialog div.message {
  background-color: white;
  color: black;
  color: black;
  margin: 0 1em;
  padding: 0.5em 0.5em;
}
.dialog p.buttons {
  margin: 1em 0 0.5em 0;
}



/* postnuke css:*/
.gensmall{font-size:10px}
.genmed{font-size:11px}
td.cat{font-weight:bold;letter-spacing:1px;color:#000000;background: url(./images/cellpic1.png);height:27px}
/* Main table cell colours and backgrounds */
td.row1{background:#eaedf4;color:#000000}
td.row2{background:#d9e2ec;color:#000000}
td.row3{background:#cad9ea;color:#000000}
td.spacerow{background:#cad9ea;color:#000000}

/* This is the outline round the main forum tables */
.forumline{background:#ffffff;color:#000000;border:1px solid #006699}

/* Sidebar */
.box { background:#ffffff; border: 1px solid silver }
.box-title { font-family: Tahoma; font-weight: normal; /*font-size: 11pt; */ background-color: #ccc; color: black; /*font-style: menu;*/ text-align: center; border: none; padding: 2px 0 2px 0;}
.box-data { width: 160px; font-size: 9pt; font-weight: normal; border: none; }
.box-data .wiki { font-weight: normal; }
td.sidebar { border-spacing: 0px; margin: 0ex;}

/* plugin BoxRight */
div.boxright {
  width: 200px; 
  right: 10px;
  padding: 0.5em; 
  float: right; 
  border: thin solid #888888; 
  padding: 0.5em;
}

/* RssFeed */
div.rss { margin: 1em; padding: 1em; font-size: 0.9em; background-color: #eeeeee; border: thin dashed #aaa; }
div.feed { color: #333; margin: -0.5em; margin-bottom: 0em; padding: 0.3em; font-weight: bold; background-color: #f2f2f2; font-size: 1.2em; }
div.itemdesc {  padding-left: 1em; }
div.rssitem { border-top: thin dashed #aaa; }

/* SqlResult */
table.sqlresult { 
  border: 1px outset gray;
  background: white;
  margin: 0.5ex 0.5em;
  padding: 1px;
}
.sqlresult tr.evenrow { background: #eee; }
.sqlresult tr.oddrow  { background: white; }
table.sqlresult td {
  margin: 1px;
  border: 1px solid gray;
}

/**
 * TeX2png plugin
 */
img.tex { 
  border: 0ex;
  vertical-align: middle; 
}

/**
 * PhotoAlbum plugin
 */
.boldsmall {
  font-weight: bold;
  font-size: 11px;
}


.wikiwyg_toolbar {
    background: #D3D3D3;
    border: 1px outset;
    letter-spacing: 0;
    padding: 2px;
}

span.wikiwyg_control_link a {
    padding-right: 8px;
}

.wikiwyg_button {
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_button:hover {
    border: 1px outset;
}

.wikiwyg_button:active {
    border: 1px inset;
}

.wikiwyg_separator {
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    width: 9px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_selector {
    width: 70px;
}

.wikiwyg_wysiwyg table {
    border-collapse: collapse;
    margin-bottom: .2em;
}

.wikiwyg_wysiwyg table td {
    border: 1px;
    border-style: solid;
    padding: .2em;
    vertical-align: top;
}

/**
 * Wiki
 */
/* this completely prevents NS4 from editing pages. */
textarea.wikiedit, input.wikitext, textarea.summary {
  background: white;
  /* for older browsers */
  border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0.5ex 0px;
 /* This breaks Netscape 4: (display does not go full width).
    width: auto;
 */
 clear: both;
}



/* This makes spacings in NS4 too big. */
.toolbar , div.toolbar  {
  margin : 0.5ex 0;
}
/* This break NS4, but is necessary for IE4. */
div.wikitext  {
  width : auto;
}
/* Link icons */
img.linkicon  {
  vertical-align : middle;
}


/**
 * PageTypes
 */
.interwiki-map thead td,
.interwiki-moniker,
.interwiki-url {
  padding-left: 1em;
  padding-right: 1em;
}


/**
 * Diff Output
 */
/* main box */
.diff {
  margin:  0.5ex 0;
  padding: 1px;
}
.diff .block {
  padding: 0.5ex 0.5em;
}
/* blocks containing deleted or added words */
.diff .original, .diff .deleted,
.diff .final, .diff .added {
  padding: 1px;
}

.diff .block div {
  position: relative;
  padding-left: 1.5em;
} 
.diff .prefix {
  position: absolute;
  left: 0;
  top:  0;
}

/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
/* deleted & added words */
.diff del, .diff ins {
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}

/*
 * table class="boxed"
 * will put a border around the table (but not around the cells)
 *
 * table class="bordered"
 * will put a border around the table and the cells
 *
 * In both cases, the caption will be bold and centered under the table
 *
 * In both cases, the headers (th) will have a "#d8d8d8" background
 */

table.boxed, table.bordered, table.bordered th, table.bordered td {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    vertical-align: top;
}

table.boxed td, table.bordered td,
table.boxed th, table.bordered th {
    padding-left: 5px; 
    padding-right: 5px; 
    padding-top: 0px; 
    padding-bottom: 0px; 
}

table.boxed caption, table.bordered caption {
    text-align: center;
    font-weight: bold;
    caption-side: bottom;
    padding-top: 0.8em;
}

table.boxed th, table.bordered th {
    font-weight: bold;
    background-color: #d8d8d8;
}

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
