<?php // -*-php-*-
rcs_id('$Id: navbar.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
?>
<!-- Additional sidebar navigation -->
<div class="box">
<div class="box-title">
  <?= _("Navigation") ?>
</div>
<div class="box-data">
<?php if (!empty($revision)) { ?>
&middot; <?=WikiLink(_("BackLinks"), "button",_("BackLinks")) ?>
<?php } ?>
<?php if (!empty($user) && $user->isAdmin()) { ?>
<br />&middot; <?= WikiLink(_("PhpWikiAdministration"), "button", _("Admin")) ?>
<?php } ?>
<?php if (!empty($user) && $user->isSignedIn()) { ?>
<br />&middot; <?= WikiLink(_("UserPreferences"), "","Preferences") ?>
<?php } ?>
<br />&middot; 
<?= Template("blog/signin") ?>
</div></div>