/* 
 * Stylesheet for FusionForge default theme.
 * 2009 Matthieu FAURE // Open-S: global clean-up
 * 
 * CONTENT: all page-related styles
 * ========================================================
 */

/* 
 * PAGE: home page
 * ========================================================
 */ 

/* =bd (main body)
----------------------------------------------- */
#bd td {
	vertical-align: top;
	padding: 5px;
}

#bd-col1 {
	width: 65%;
}

#bd-col2 {
	width: 35%;
}

#title-home-page {
	text-align: center;	
}

#Latest_News h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;	
}

#Latest_News em {
    padding-left: 1em;  
}

/* remove inherited background-image */
#title_Features_Boxes {
    display: none;
}

#Features_Boxes {
	background-image: none;
}

#Features_Boxes #title_Associated_Forges {
    margin-top: 0;
}

#Associated_Forges td {
    padding-right: 1em;  
}

#Associated_Forges .align-right {
    text-align: right;	
}

#Recently_Registered_Projects td {
    padding: 0.2em;
}

#search_associated_forges {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#search_associated_forges_submit {
    margin-top: 6px;
    padding-left: 5px;
}

/* 
 * PAGE: project home
 * ========================================================
 */ 
#project-summary-and-devs {
	margin-top: 0.5em;
}

#file-releases {
    margin: 0 0.5em;
}

#latest-major-contributions {
    margin: 1em 0.5em;
}

/* 
 * PAGE: frs
 * ========================================================
 */
.frs-table-files {
    width: 100%;
    margin: 0 0 2.5em 0;
}

.frs-table-files th {
    background: #e8dfd4;
}

.frs-table-files tr {
    border-bottom: solid 1px #c9c9c9;
}

.frs-table-files th,
.frs-table-files td {
    vertical-align:middle;
}

.frs-table-files h3 {
    margin:0;
}

#forge-frs .blue-box {
	padding-top: 2em;
	padding-bottom: 2em;
}

#forge-frs h2 {
    padding-top: 1em;
}

#forge-frs h3 {
    font-size: small;
}

#forge-frs .box-surround {
    margin: 0 0.5em 0.5em 2em;
}

#forge-frs .box-content {
	padding-left: 2em;
}

#forge-frs .listTable {
    margin:0;
}

#forge-frs .listTable td {
	width: 12%;
}

/* 
 * PAGE: user_home (eg: http://fusionforge/user/<username>)
 * ========================================================
 */
#user-profile-homepage {
    
}
