/*******************************/
/***  ViewVC CSS Stylesheet ***/
/*******************************/

/*** Standard Tags ***/
.scm html, .scm body {
  color: #000000;
  background-color: #ffffff;
}

.scm a:link    { color: #0000ff; }
.scm a:visited { color: #880088; }
.scm a:active  { color: #0000ff; }

.scm img { border: none; }
.scm table {
  width: 100%;
  margin: 0; 
  border: none;
}
.scm table.auto {
  width: auto;
}
.scm table.fixed {
  width: 100%;
  table-layout: fixed;
}
.scm table.fixed td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.scm tr, .scm td, .scm th { vertical-align: top; }
.scm form { margin: 0; }

/*** Icons ***/
.vc_icon {
  width: 16px;
  height: 16px;
  border: none;
  padding: 0 1px;
}


/*** Navigation Headers ***/
.vc_navheader {
  background-color: #cccccc;
}


/*** Table Headers ***/
.vc_header {
  text-align: left;
  vertical-align: top;
  background-color: #cccccc;
}
.vc_header_sort {
  text-align: left;
  background-color: #88ff88;
}


/*** Table Rows ***/
.vc_row_even {
  background-color: #ffffff;
}
.vc_row_odd {
  background-color: #ccccee;
}


/*** Log messages ***/
.vc_log {
  /* unfortunately, white-space: pre-wrap isn't widely supported ... */
  white-space: -moz-pre-wrap; /* Mozilla based browsers */
  white-space: -pre-wrap;     /* Opera 4 - 6 */
  white-space: -o-pre-wrap;   /* Opera >= 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}


/*** Markup Summary Header ***/
.vc_summary {
  background-color: #eeeeee;
}

/*** Highlight Markup Styles ***/
#vc_markup .num  { color: #000000; }
#vc_markup .esc  { color: #bd8d8b; }
#vc_markup .str  { color: #bd8d8b; }
#vc_markup .dstr { color: #bd8d8b; }
#vc_markup .slc  { color: #ac2020; font-style: italic; }
#vc_markup .com  { color: #ac2020; font-style: italic; }
#vc_markup .dir  { color: #000000; }
#vc_markup .sym  { color: #000000; }
#vc_markup .line { color: #555555; }
#vc_markup .kwa  { color: #9c20ee; font-weight: bold; }
#vc_markup .kwb  { color: #208920; }
#vc_markup .kwc  { color: #0000ff; }
#vc_markup .kwd  { color: #404040; }

/*** Py2html Markup Styles  ***/
#vc_markup .PY_STRING     { color: #bd8d8b; }
#vc_markup .PY_COMMENT    { color: #ac2020; font-style: italic; }
#vc_markup .PY_KEYWORD    { color: #9c20ee; font-weight: bold; }
#vc_markup .PY_IDENTIFIER { color: #404040; }

/*** Line numbers outputted by highlight colorizer ***/
.line {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #505050;
  padding: 1px;
  background-color: #eeeeee;
  color: #505050;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

/*** Diff Styles ***/
.vc_diff_header {
  background-color: #ffffff;
}
.vc_diff_chunk_header {
  background-color: #99cccc;
}
.vc_diff_chunk_extra {
  font-size: smaller;
}
.vc_diff_empty {
  background-color: #cccccc;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_add {
  background-color: #aaffaa;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_remove {
  background-color: #ffaaaa;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_change {
  background-color: #ffff77;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_change_empty {
  background-color: #eeee77;
  font-family: sans-serif;
  font-size: smaller;
}
.vc_diff_nochange {
  font-family: sans-serif;
  font-size: smaller;
}
.vc_raw_diff {
  background-color: #cccccc;
  font-size: smaller;
}

/*** Intraline Diff Styles ***/

.vc_idiff_add {
  background-color: #aaffaa;
}
.vc_idiff_change {
  background-color:#ffff77;
}
.vc_idiff_remove {
  background-color:#ffaaaa;
}
.vc_idiff_empty {
  background-color:#e0e0e0;
}

table.vc_idiff col.content { 
  width: 50%;
}
table.vc_idiff tbody {
  font-family: monospace; 
  /* unfortunately, white-space: pre-wrap isn't widely supported ... */
  white-space: -moz-pre-wrap; /* Mozilla based browsers */
  white-space: -pre-wrap;     /* Opera 4 - 6 */
  white-space: -o-pre-wrap;   /* Opera >= 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}
table.vc_idiff tbody th {
  background-color:#e0e0e0;
  text-align:right;
}

/*** Annotate Styles ***/
.vc_blame_line, .vc_blame_author, .vc_blame_rev {
  font-family: monospace;
  font-size: smaller;
  text-align: right;
  white-space: nowrap;
  padding-right: 1em;
}
.vc_blame_text {
  font-family: monospace;
  font-size: smaller;
  text-align: left;
  white-space: pre;
  width: 100%;
}

/*** Query Form ***/
.vc_query_form {
  background-color: #e6e6e6;
}
