/* stylesheet for gforge theme
*/
BODY {
		margin-top: 3;
		margin-left: 3;
		margin-right: 3;
		margin-bottom: 3;
		background-image: url("../images/theme-top-blue.png");
	}
ol,ul,p,body,td,tr,th,form { font-family: verdana,arial,helvetica,sans-serif; font-size:small;
		color: #333333; }

h1 { font-size: x-large; font-family: verdana,arial,helvetica,sans-serif; }
h2 { font-size: large; font-family: verdana,arial,helvetica,sans-serif; }
h3 { font-size: medium; font-family: verdana,arial,helvetica,sans-serif; }
h4 { font-size: small; font-family: verdana,arial,helvetica,sans-serif; }
h5 { font-size: x-small; font-family: verdana,arial,helvetica,sans-serif; }
h6 { font-size: xx-small; font-family: verdana,arial,helvetica,sans-serif; }

pre,tt { font-family: courier,sans-serif }


a:link { text-decoration:none; color: #0000be }
a:visited { text-decoration:none; color: #0000be }
a:active { text-decoration:none }
a:hover { text-decoration:underline; color:red }

.titlebar { color: black; text-decoration: none; font-weight: bold; }
a.tablink { color: black; text-decoration: none; font-weight: bold; font-size: x-small; }
a.tablink:visited { color: black; text-decoration: none; font-weight: bold; font-size: x-small; }
a.tablink:hover { text-decoration: none; color: black; font-weight: bold; font-size: x-small; }
a.tabsellink { color: #0000be; text-decoration: none; font-weight: bold; font-size: x-small; }
a.tabsellink:visited { color: #0000be; text-decoration: none; font-weight: bold; font-size: x-small; }
a.tabsellink:hover { text-decoration: none; color: #0000be; font-weight: bold; font-size: x-small; }

A.lnkutility {
        COLOR: #ffffff;
        font-size: x-small;
        font-weight:bold;
        }

A.lnkutility:visited { COLOR: #ffffff }
A.lnkutility:active { COLOR: #ffffff }
A.lnkutility:hover { COLOR: #ffffff }


/* header style */
.header {
//background: rgb(66, 69, 82) url("../images/theme-top-blue.png") top left
background: url("../images/theme-top-blue.png") top left
repeat-x;
/* padding-right: 1em; */
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
margin: 0 0 0 0;
vertical-align: top;
}


/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #D0D0D0;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #333333; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
