<?php // -*-php-*-
rcs_id('$Id: actionbar.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
if (!$WikiTheme->DUMP_MODE) {
// Only [Info] button when not signed in.
// The rest behind Info
?>
<?php /* I would like not to have to use these tables, and managed to
       * get this stuff to work more or less correctly using
       * CSSs float:left; and float:right;.  However float:right; seems
       * to cause MSIE4.01/NT to hang. 
       * So, we use tables...  */ ?>
<table summary="Toolbar 1: Page actions and user login."
       width="100%" cellpadding="0" cellspacing="0" border="0">
<tr valign="baseline">
  <td>
  <div id="actionbuttons">
     <?php if ((!$page->get('locked') || $user->isAdmin()) and $revision) { ?>
       <?= Button("edit", $revision->isCurrent() ? _("Edit") : _("Edit Old Revision")) ?>
     <?php } else { ?>
       <?= Button("viewsource", _("View Source")) ?>
     <?php } ?>
     <?php if ( $user->isSignedIn()) { ?>
      <?php if ($user->isAdmin() or mayAccessPage('change', $page->getName())) { ?>
       <?=$SEP?><?= Button($page->get('locked') ? 'unlock' : 'lock') ?>
       <?php if (ENABLE_PAGEPERM and mayAccessPage('change', $page->getName())) { ?>
        <?=$SEP?><?= Button('chown') ?>
        <?=$SEP?><?= Button('setacl') ?>
        <?=$SEP?><?= Button('rename') ?>
     <?php }} ?>
     <?php if ($revision and ($user->isAdmin() or mayAccessPage('remove', $page->getName()))) { ?>
      <?=$SEP?><?= Button('revert',_("Revert"), $revision->isCurrent() ? $page->GetRevisionBefore() : $revision) ?>
      <?=$SEP?><?= Button('remove') ?>
     <?php } ?>
     <?=$SEP?>
    <?php } ?>
   <?= Button(array('action'=>'PageInfo'),_("Info"), $page->getName()) ?>
<?php if (((defined('DEBUG') and DEBUG and $request->getArg('action') == 'browse')) || $user->isAdmin()) { ?>
      <!-- Buttons really only for debugging -->
      <?=$SEP?><?= Button(_("PageHistory")) ?>
      <?=$SEP?><?= Button("diff") ?>
      <?=$SEP?><?= Button(_("PageDump")) ?>
    <!-- End debugging buttons -->
    <?php } ?>
<?php if (defined('USE_EXTERNAL_HTML2PDF') and USE_EXTERNAL_HTML2PDF) { ?> 
    <?=$SEP?><?= Button("pdf") ?>
<?php } ?>
  </div>
  </td>
<?php if (empty($NOSIGNIN)) { ?>
  <td align="right">
    <div id="signin"><?= Template('signin') ?></div>
  </td>
<?php } ?>
</tr>
</table>
<?php } ?>
